<template>
	<div class="category" ref="category" :style="{ backgroundColor }">
		<template v-if="!$mobile()">
			<nuxt-link class="prev" :to="localePath(`/products/${data.prev.slug}`)">
				<div class="image-wrp">
					<div class="image">
						<img :src="data.prev.image" :alt="data.prev.name">
					</div>
				</div>
				<p>{{ data.prev.name }}</p>
			</nuxt-link>
			<nuxt-link class="next" :to="localePath(`/products/${data.next.slug}`)">
				<div class="image-wrp">
					<div class="image">
						<img :src="data.next.image" :alt="data.next.name">
					</div>
				</div>
				<p>{{ data.next.name }}</p>
			</nuxt-link>
		</template>
		<div class="col">
			<div class="main-img">
				<img :src="data.image" :alt="data.name">
				<div class="title">{{ data.name }}</div>
			</div>
			<p class="sub">{{$translate('СОРТА')}}:</p>
		</div>
		<div v-swiper="options" :cleanup-styles-on-destroy="false">
			<div class="swiper-wrapper" :class="{'-center' : data.products.length < 4}">
				<div class="swiper-slide" v-for="product in data.products" :key="product.id">
					<nuxt-link :to="localePath(`/product/${product.slug}`)" class="block">
						<img :src="product.image" :alt="product.name">
						<p>{{ product.name }}</p>
					</nuxt-link>
				</div>
			</div>
			<div class="nav" v-show="data.products.length > 3">
				<button class="slider-prev">
					<img src="@/assets/icons/arrow-left.svg" alt="icon">
				</button>
				<div class="swiper-pagination"></div>
				<button class="slider-next">
					<img src="@/assets/icons/arrow-left.svg" alt="icon">
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { gsap } from "gsap";
export default {
	async asyncData({ $api, route }) {
		const resp = await $api.get(`products/${route.params.category}`);
		return { data: resp }
	},
	name: 'category',
	data() {
		return {
			backgroundColor: '#C86B6E',
			options: {
				navigation: {
					prevEl: '.slider-prev',
					nextEl: '.slider-next',
				},
				pagination: {
					el: '.swiper-pagination',
					type: 'bullets',
					clickable: true
				},
				breakpoints: {
					700: {
						spaceBetween: 34,
						slidesPerView: 4,
						loop: false,
					},
					320: {
						loop: true,
						spaceBetween: 20,
						slidesPerView: 2
					}
				}
			},
		}
	},
	mounted() {
		this.backgroundColor = this.data.color

		const { category } = this.$refs
		const mainItem = category.querySelector('.col')
		const prevImage = category.querySelector('.prev .image-wrp')
		const prevText = category.querySelector('.prev p')
		const nextImage = category.querySelector('.next .image-wrp')
		const nextText = category.querySelector('.next p')
		const items = category.querySelectorAll('.swiper-slide')
		const nav = category.querySelectorAll('.nav')

		gsap.from(mainItem, {
			duration: 1.4,
			delay: 0.2,
			y: 70, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(prevImage, {
			duration: 1.2, 
			rotation: -20,
			x: -30, 
			opacity: 0,
			ease: 'elastic.inOut(1, 0.75)'
		})
		gsap.from(prevText, {
			duration: 0.4,
			delay: 0.4,
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
		gsap.from(nextImage, {
			duration: 1.2, 
			rotation: 20,
			x: 30, 
			opacity: 0,
			ease: 'elastic.inOut(1, 0.75)'
		})
		gsap.from(nextText, {
			duration: 0.4,
			delay: 0.4,
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
		gsap.from(items, {
			duration: 2,
			delay: 0.6,
			y: 30, 
			opacity: 0, 
			scale: 0.5, 
			stagger: 0.1, 
			ease: 'elastic.out'
		})
		gsap.from(nav, {
			duration: 0.4,
			delay: 0.8, 
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
	}
}
</script>

<style lang="sass" scoped>
.title
	font-size: 36px
.swiper-pagination::v-deep
	position: static
	width: auto
	margin: 0 20px
	.swiper-pagination-bullet
		width: 4px
		height: 4px
		margin: 0 15px
		background: #fff
		transition: .3s ease
		@media (min-width: 700px)
			margin: 0 10px
			width: 12px
			height: 12px
			transform: scale(0.7)
			&-active
				transform: scale(1)
.slider-prev,
.slider-next
	width: 32px
	height: 32px
	border-radius: 999px
	border: 1px solid #fff
	background: transparent
	padding: 0
	display: flex
	align-items: center
	justify-content: center
.slider-next img
	transform: rotate(180deg)
.nav
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	bottom: 0
	left: 0
	right: 0
	z-index: 10
	padding: 0 30px 50px
	@media (min-width: 700px)
		position: static
.block
	width: 157px
	height: 157px
	border-radius: 999px
	border: 1px solid rgba(#fff, 0.4)
	transition: .3s ease
	position: relative
	display: block
	margin: 0 auto
	&:after
		content: ''
		width: 100%
		height: 34px
		background: url('@/assets/img/shadow.png') center no-repeat
		background-size: cover
		position: absolute
		bottom: 0
		left: 0
	&:hover
		border-color: #fff
		img
			transform: scale(1.1)
	img
		margin: 0 auto
		position: relative
		z-index: 1
		transition: .3s ease
		width: 138px
		height: 138px
		object-fit: contain
	p
		position: relative
		z-index: 2
		color: #fff
		font-size: 24px
		font-weight: 600
		text-transform: uppercase
		position: absolute
		bottom: 0
		transform: translateY(50%)
		left: 0
		right: 0
		text-align: center
		line-height: 1
.category
	padding-top: 100px
	@media (min-width: 700px)
		padding-top: 113px
.main-img
	position: relative
	img
		width: 100%
		height: 200px
		object-fit: contain
		@media (min-width: 700px)
			height: 250px
.title
	position: absolute
	bottom: 0
	left: 0
	right: 0
	line-height: 1
	text-align: center
.swiper-wrapper
	&.-center
		justify-content: center
.swiper-container
	max-width: 900px
	margin: 0 auto
	overflow: hidden
	margin-top: 30px
	@media (min-width: 700px)
		margin-top: 54px
.swiper-slide
	padding-top: 40px
	padding-bottom: 50px
	@media (min-width: 700px)
		padding-bottom: 80px
.col
	margin: 0 auto
	width: 200px
	display: flex
	flex-direction: column
	align-items: center
	@media (min-width: 700px)
		width: 250px
.sub
	margin-top: 20px
	color: #fff
	text-transform: uppercase
	font-size: 18px
	font-weight: 500
	@media (min-width: 700px)
		font-size: 20px
.category
	background: #C86B6E
	min-height: 100vh
	overflow: hidden
	position: relative
.prev, .next
	position: absolute
	top: 45%
	transform: translateY(-50%)
	display: flex
	flex-direction: column
	align-items: center
	p
		color: #fff
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
.image
	width: 156px
	height: 156px
	border-radius: 999px
	border: 1px solid rgba(#fff, 0.4)
	transition: .3s ease
	img
		width: 100%
		height: 100%
		object-fit: contain
		transition: .3s ease
	&:hover
		border-color: #fff
		img
			transform: scale(1.1)
.prev
	left: -15px
.next
	right: -15px
</style>