<template>
	<header class="header" :class="{'-dark' : routeName}">
		<nuxt-link class="logo" :to="localePath('/')">
			<Logo />
		</nuxt-link>
		<button class="burger" @click="$setTrue('modals.menu')">
			<Burger />
		</button>
	</header>
</template>

<script>
import Logo from '@/assets/img/logo-colored.svg?inline'
import Burger from '@/assets/icons/burger.svg?inline'
export default {
	components: {
		Logo,
		Burger
	},
	computed: {
		routeName() {
			return (
				this.$route.name == 'about___ru' || 
				this.$route.name == 'about___kk' || 
				this.$route.name == 'about___en' || 
				this.$route.name == 'vacancies___ru' || 
				this.$route.name == 'vacancies___kk' || 
				this.$route.name == 'vacancies___en' || 
				this.$route.name == 'contacts___ru' ||
				this.$route.name == 'contacts___kk' ||
				this.$route.name == 'contacts___en'
			)
		}
	}
}
</script>

<style lang="sass" scoped>
.header
	position: absolute
	z-index: 1000
	top: 0
	left: 0
	right: 0
	display: flex
	align-items: center
	justify-content: space-between
	height: 78px
	padding: 0 16px
	&.-dark
		border-bottom: 1px solid rgba(#C6C6C6, 0.5)
		.logo
			[fill="#11B04C"]
				fill: #11B04C
			[fill="#DC1D2C"]
				fill: #DC1D2C
			[fill="#91C849"]
				fill: #91C849
		.burger
			[fill="#31251C"]
				fill: #31251C
			[stroke="#31251C"]
				stroke: #31251C
.logo
	text-align: center
	svg
		width: 93px
		height: 58px
	path
		transition: .3s ease
		fill: #fff
.burger
	padding: 0
	background: transparent
	display: flex
	rect
		transition: .3s ease
	[fill="#31251C"]
		fill: #fff
	[stroke="#31251C"]
		stroke: #fff
</style>