<template>
	<transition name="fade">
		<div class="menu" v-if="$check('modals.menu')">
			<div class="header">
				<button class="close" @click="$setFalse('modals.menu')">
					<img src="@/assets/icons/close2.svg" alt="icon">
				</button>
			</div>
			<div class="inner">
				<nuxt-link class="link"
					@click.native="$setFalse('modals.menu')" 
					exact 
					:to="localePath('/')">
					{{$translate('Главная')}}
				</nuxt-link>
				<nuxt-link class="link" 
					@click.native="$setFalse('modals.menu')" 
					:to="localePath('/about')">
					{{$translate('О компании')}}
				</nuxt-link>
				<nuxt-link class="link" 
					@click.native="$setFalse('modals.menu')" 
					:to="localePath('/products')">
					{{$translate('Продукция')}}
				</nuxt-link>
				<nuxt-link class="link" 
					@click.native="$setFalse('modals.menu')" 
					:to="localePath('/vacancies')">
					{{$translate('Вакансии')}}
				</nuxt-link>
				<nuxt-link class="link" 
					@click.native="$setFalse('modals.menu')" 
					:to="localePath('/contacts')">
					{{$translate('Контакты')}}
				</nuxt-link>
				<div class="langs">
					<nuxt-link class="lang" 
						:class="{'-active' : $i18n.locale == 'ru'}"
						:to="switchLocalePath('ru')">
						RU
					</nuxt-link>
					<nuxt-link class="lang" 
						:class="{'-active' : $i18n.locale == 'en'}"
						:to="switchLocalePath('en')">
						EN
					</nuxt-link>
					<nuxt-link class="lang" 
						:class="{'-active' : $i18n.locale == 'kk'}"
						:to="switchLocalePath('kk')">
						KZ
					</nuxt-link>
				</div>
				<div class="block" v-if="settings['email_sales_department']">
					<h5 class="heading">{{$translate('Электронный адрес:')}}</h5>
					<a :href="`mailto:${settings['email_sales_department']}`" class="text">
						{{ settings['email_sales_department'] }}
					</a>
				</div>
				<div class="block" v-if="settings['phone_sales_department']">
					<h5 class="heading">{{$translate('Телефон:')}}</h5>
					<a :href="`tel:${settings['phone_sales_department']}`" class="text">
						{{settings['phone_sales_department']}}
					</a>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
import { mapGetters } from "vuex";
export default {
	computed: {
		...mapGetters({
			settings: 'settings/getSettings'
		})
	},
}
</script>

<style lang="sass" scoped>
.inner
	display: flex
	flex-direction: column
	align-items: center
	margin-top: 32px
	text-align: center
.link
	font-size: 18px
	font-weight: 500
	color: var(--c-base)
	border-radius: 4px
	text-transform: uppercase
	padding: 0 16px
	line-height: 27px
	border: 1px solid transparent
	margin-bottom: 30px
	transition: .3s ease
	&.nuxt-link-active
		border-color: var(--c-base)
.lang
	text-transform: uppercase
	font-size: 16px
	font-weight: 500
	color: var(--c-base)
	line-height: 24px
	padding: 0 10px
	border: 1px solid transparent
	border-radius: 4px
	margin: 0 15px
	transition: .3s ease
	&.-active
		border-color: var(--c-base)
.langs
	margin: 34px 0
.text
	font-size: 18px
	font-weight: 400
	color: var(--c-base)
.heading
	font-size: 20px
	font-weight: 500
.block
	margin-top: 30px
.menu
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: var(--c-bg)
	z-index: 10000
	padding-bottom: 100px
	overflow-y: auto
.header
	padding: 0 16px
	height: 78px
	border-bottom: 1px solid rgba(#C6C6C6, 0.5)
	display: flex
	align-items: center
	justify-content: flex-end
.close
	padding: 0
	background: transparent
	img
		width: 40px
		height: 40px
</style>