<template>
	<div class="map">
		<h2 class="title -dark">{{ $translate('КАРТА МЕСТНОСТИ') }}</h2>
		<div class="qf-gardens__last" id="qf-gardens-to-last">
            <h5 class="qf-gardens__lastTitle">1100 {{ $translate('Га') }}</h5>
			<div class="overlay" :style="{ opacity: showOverlay ? 1 : 0 }"></div>
            <div class="qf-gardens__lastData--mobileWrp" v-if="$mobile()">
                <h6 class="qf-gardens__lastData--mobile" :style="{opacity: cherryHovered ? 1 : 0}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.84 40.84" width="40.84" height="40.84">
						<path class="cherrycls-1" cx="20.42" cy="20.42" r="20.42" d="M40.84 20.42A20.42 20.42 0 0 1 20.42 40.84A20.42 20.42 0 0 1 0 20.42A20.42 20.42 0 0 1 40.84 20.42z"/>
						<path class="cherrycls-2" d="M2626.46 -401.05c0 -0.3 -0.07 -0.59 -0.13 -0.89a5.53 5.53 0 0 0 -0.57 -1.56 4.94 4.94 0 0 0 -0.61 -0.91c-0.22 -0.25 -0.44 -0.5 -0.69 -0.73a5.23 5.23 0 0 0 -0.94 -0.69 5.92 5.92 0 0 0 -1.24 -0.56 5.14 5.14 0 0 0 -1 -0.23l-0.22 0a0.11 0.11 0 0 1 -0.06 -0.05l-0.69 -1.2 -0.82 -1.42 -0.68 -1.2L2618 -412l-0.65 -1.13 -0.75 -1.31 -0.69 -1.21 -0.82 -1.42c-0.18 -0.31 -0.35 -0.62 -0.54 -0.92a1.08 1.08 0 0 0 -0.19 -0.2l-0.17 -0.14 -0.55 -0.53c-0.29 -0.26 -0.57 -0.52 -0.87 -0.77a14.65 14.65 0 0 0 -1.51 -1.12 7.27 7.27 0 0 0 -1.56 -0.79 4 4 0 0 0 -0.86 -0.2 3.65 3.65 0 0 0 -1.21 0.12 8.44 8.44 0 0 0 -1.49 0.6 17.45 17.45 0 0 0 -1.66 0.93c-0.5 0.32 -1 0.64 -1.49 1s-1 0.68 -1.44 1a3.66 3.66 0 0 0 -0.4 0.31 1 1 0 0 0 -0.29 0.56l0 0v0.31c0 0.08 0 0.17 0.08 0.25a1 1 0 0 0 0.38 0.45l0.84 0.51 0.76 0.43c0.69 0.37 1.38 0.74 2.08 1.08 0.52 0.25 1.06 0.47 1.6 0.68a11.52 11.52 0 0 0 1.11 0.35 4.08 4.08 0 0 0 0.73 0.12 4.46 4.46 0 0 0 0.61 0 3.19 3.19 0 0 0 0.8 -0.18 6.05 6.05 0 0 0 1.22 -0.6l0.05 0 -3.1 7.23 -0.37 0 -0.37 0h-0.36a6.29 6.29 0 0 0 -0.94 0.09 5.62 5.62 0 0 0 -1.18 0.33 6.18 6.18 0 0 0 -1.37 0.78 6.53 6.53 0 0 0 -0.87 0.8 5.48 5.48 0 0 0 -0.7 0.95 5.9 5.9 0 0 0 -0.56 1.23 5.34 5.34 0 0 0 -0.23 1c0 0.17 0 0.34 -0.05 0.5l0 0v0.72l0 0c0 0.3 0.06 0.6 0.12 0.89a5.63 5.63 0 0 0 0.56 1.54 5 5 0 0 0 0.64 1c0.21 0.24 0.42 0.48 0.66 0.7a5.49 5.49 0 0 0 0.91 0.68 5.76 5.76 0 0 0 1.49 0.65c0.25 0.07 0.51 0.12 0.77 0.16a4.76 4.76 0 0 0 1.1 0.06c0.29 0 0.57 -0.06 0.85 -0.09a4.84 4.84 0 0 0 1 -0.26 5.78 5.78 0 0 0 1.13 -0.54 6.1 6.1 0 0 0 0.84 -0.63 6.1 6.1 0 0 0 0.93 -1 6 6 0 0 0 0.52 -0.89 5.46 5.46 0 0 0 0.47 -1.43c0 -0.27 0.08 -0.53 0.1 -0.8a4.67 4.67 0 0 0 0 -0.64 6.19 6.19 0 0 0 -0.23 -1.41 6.12 6.12 0 0 0 -0.47 -1.17 5 5 0 0 0 -0.63 -0.94c-0.2 -0.23 -0.41 -0.46 -0.63 -0.68a5.4 5.4 0 0 0 -1 -0.77c-0.12 -0.07 -0.12 -0.07 -0.07 -0.2l0.37 -0.87 0.42 -1 0.37 -0.85 0.41 -1 0.37 -0.85 0.42 -1 0.32 -0.73 0.42 -1 0.36 -0.84 0.37 -0.87 0.05 -0.1 4.93 8.62 -0.37 0.12a5.84 5.84 0 0 0 -1.16 0.56 6.18 6.18 0 0 0 -0.85 0.63 6.12 6.12 0 0 0 -0.84 0.91 5.87 5.87 0 0 0 -0.63 1 6 6 0 0 0 -0.44 1.31 4.86 4.86 0 0 0 -0.11 0.89c0 0.21 0 0.43 0 0.64a6.09 6.09 0 0 0 0.36 1.79 6.11 6.11 0 0 0 0.86 1.58 6.16 6.16 0 0 0 0.74 0.82 5.93 5.93 0 0 0 1 0.72 5.49 5.49 0 0 0 1.36 0.6c0.29 0.08 0.58 0.14 0.88 0.2a4.86 4.86 0 0 0 1.14 0.06c0.27 0 0.53 -0.06 0.8 -0.09a5.17 5.17 0 0 0 1.22 -0.35 6 6 0 0 0 1.23 -0.68 6.22 6.22 0 0 0 1 -0.85 5.83 5.83 0 0 0 0.7 -0.93 5.8 5.8 0 0 0 0.58 -1.25 6.69 6.69 0 0 0 0.2 -0.8c0 -0.23 0.06 -0.47 0.09 -0.71l0 0V-401Zm-16.5 -2.29a4 4 0 0 1 1.06 2.76 3.89 3.89 0 0 1 -1.28 2.87 3.86 3.86 0 0 1 -3 1.07 3.89 3.89 0 0 1 -2.67 -1.26 3.86 3.86 0 0 1 -1.09 -2.73 3.89 3.89 0 0 1 1.31 -3 3.86 3.86 0 0 1 2.71 -1.05A3.88 3.88 0 0 1 2610 -403.34Zm1.7 -13.58 -0.32 0.29c-0.2 0.17 -0.4 0.35 -0.62 0.52s-0.49 0.36 -0.74 0.53a3.67 3.67 0 0 1 -0.9 0.45 1.64 1.64 0 0 1 -0.75 0 8.07 8.07 0 0 1 -1.57 -0.52l-0.84 -0.38 -1 -0.48 -1.21 -0.65 0 0 1.24 -0.82c0.4 -0.26 0.8 -0.51 1.21 -0.74s0.77 -0.43 1.17 -0.62a4.16 4.16 0 0 1 0.94 -0.37 1.31 1.31 0 0 1 0.84 0.12 6.33 6.33 0 0 1 1.36 0.79l0.79 0.59c0.16 0.13 0.31 0.26 0.47 0.4l0.48 0.42Zm11.72 19a3.94 3.94 0 0 1 -2.93 1.31 3.94 3.94 0 0 1 -3 -1.29 3.86 3.86 0 0 1 -1.06 -3 3.89 3.89 0 0 1 1.31 -2.72 3.85 3.85 0 0 1 2.7 -1 3.89 3.89 0 0 1 2.82 1.18 3.89 3.89 0 0 1 1.18 2.82A3.85 3.85 0 0 1 2623.37 -397.94Z" transform="translate(-2592.77 427.95)"/>
					</svg>
					{{ $translate('Черешня') }} - 373 {{ $translate('Га') }}
                </h6>
                <h6 class="qf-gardens__lastData--mobile" :style="{opacity: peachHovered ? 1 : 0}">
					<svg width="90" height="42" viewBox="0 0 90 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M68.95 41.15C80.2277 41.15 89.37 32.0077 89.37 20.73C89.37 9.45235 80.2277 0.31 68.95 0.31C57.6724 0.31 48.53 9.45235 48.53 20.73C48.53 32.0077 57.6724 41.15 68.95 41.15Z" fill="white"/>
						<path d="M81.8099 21.98C81.8099 21.51 81.71 21.09 81.64 20.7C81.4736 19.7563 81.167 18.8429 80.7301 17.99C80.474 17.4871 80.1832 17.0026 79.86 16.54C79.5546 16.0954 79.2206 15.6711 78.86 15.27C78.6179 15.018 78.3607 14.7809 78.0899 14.56L77.92 14.42C77.4404 14.0134 76.9172 13.6612 76.36 13.37C75.615 12.968 74.8221 12.6622 74.0001 12.46C73.2756 12.2877 72.5347 12.1939 71.7901 12.18C71.4558 12.1774 71.1217 12.1974 70.7901 12.24L70.0899 12.33H70.0001L70.2901 10.14H70.38L71.3199 10.64C71.9557 10.9964 72.6257 11.2879 73.3199 11.51C73.9712 11.6942 74.6432 11.795 75.3199 11.81C75.473 11.8211 75.627 11.8211 75.7801 11.81V11.81H75.9601C76.1714 11.7951 76.3816 11.7684 76.5899 11.73C77.269 11.5895 77.9188 11.3324 78.5101 10.97C79.0519 10.6547 79.5327 10.2449 79.93 9.75999C80.0267 9.63742 80.0931 9.49393 80.1244 9.34101C80.1556 9.18809 80.1508 9.02999 80.11 8.87934C80.0691 8.7287 79.9937 8.58972 79.8895 8.47349C79.7853 8.35726 79.6554 8.26701 79.5101 8.21L78.43 7.78999L77.11 7.28001C76.17 6.93001 75.1099 6.56999 73.8399 6.10999C73.3225 5.89625 72.7698 5.78095 72.2101 5.77C71.9201 5.77 71.5901 5.76999 71.2101 5.82999C71.0164 5.85827 70.8298 5.92273 70.66 6.02C70.2929 6.2296 69.9565 6.48869 69.66 6.78999C69.2876 7.14126 68.9737 7.54975 68.7301 8.00001C68.5217 8.36019 68.3857 8.75763 68.3299 9.16999C68.3299 9.38999 68.2701 9.59999 68.2301 9.82999C68.1901 10.06 68.23 10.09 68.17 10.22C68.11 10.35 68.17 10.52 68.11 10.66V10.9V11.25C68.11 11.48 68.0501 11.71 68.0201 11.95C67.9901 12.19 68.0201 12.21 68.0201 12.34C67.4572 12.2268 66.8841 12.1698 66.3099 12.17C65.9756 12.1661 65.6414 12.1861 65.3099 12.23H65.2301C64.8472 12.2651 64.4664 12.3219 64.0899 12.4C63.2001 12.6112 62.3448 12.9479 61.5499 13.4C60.6577 13.896 59.8426 14.5192 59.13 15.25C58.6384 15.7567 58.1963 16.3092 57.8099 16.9C57.3309 17.6171 56.9478 18.3936 56.67 19.21C56.5075 19.6882 56.374 20.1757 56.2701 20.67C56.2001 21 56.17 21.34 56.13 21.67C56.13 21.81 56.13 21.95 56.13 22.08V22.13V23.68V23.74V23.93C56.1427 24.1311 56.1661 24.3314 56.2 24.53C56.3 25.07 56.3999 25.59 56.5499 26.12C56.7915 26.9774 57.1481 27.7982 57.61 28.56C58.0102 29.2474 58.4904 29.8851 59.0401 30.46C59.3501 30.78 59.6801 31.07 60.0401 31.39C60.5763 31.8407 61.1637 32.2267 61.7901 32.54C62.3562 32.8298 62.9487 33.0642 63.5599 33.24C64.2794 33.4486 65.0216 33.5695 65.7701 33.6C66.1499 33.6197 66.5303 33.6197 66.91 33.6H67.2401C67.7413 33.5667 68.2375 33.4795 68.7201 33.34H68.7999C68.8597 33.3327 68.9203 33.3327 68.9801 33.34L69.2201 33.4C69.3213 33.4342 69.425 33.461 69.5301 33.48L69.8399 33.53C70.2899 33.6 70.7501 33.68 71.2101 33.71H71.7301C72.1483 33.7091 72.566 33.679 72.9801 33.62C73.4942 33.5525 74.0024 33.4455 74.5001 33.3C75.2754 33.0597 76.0177 32.7237 76.7101 32.3C77.3004 31.951 77.8532 31.5422 78.36 31.08C78.8154 30.6639 79.2337 30.2089 79.61 29.72C80.2034 28.9483 80.6909 28.1008 81.0599 27.2C81.3812 26.4417 81.6032 25.6451 81.7201 24.83C81.7801 24.36 81.85 23.74 81.89 23.12C81.8958 22.7384 81.869 22.357 81.8099 21.98V21.98ZM66.12 31.59C65.1596 31.5727 64.2106 31.3795 63.3199 31.02C62.6238 30.7354 61.9709 30.3551 61.38 29.89C60.8427 29.4634 60.3592 28.9731 59.94 28.43C59.5511 27.9335 59.2159 27.3972 58.94 26.83C58.6053 26.1574 58.3696 25.44 58.2401 24.7C58.1701 24.25 58.1199 23.78 58.0699 23.33C58.0495 23.0971 58.0495 22.8629 58.0699 22.63C58.0699 22.19 58.1601 21.72 58.2301 21.24C58.3974 20.2681 58.736 19.3335 59.2301 18.48C59.4794 18.0106 59.7812 17.5711 60.13 17.17C60.35 16.92 60.5899 16.65 60.8499 16.4C61.3083 15.9524 61.8226 15.5659 62.38 15.25C63.028 14.8615 63.7334 14.578 64.4701 14.41C64.8597 14.3276 65.2536 14.2675 65.65 14.23C65.9829 14.2065 66.3171 14.2065 66.65 14.23C66.986 14.2436 67.3203 14.2837 67.65 14.35C67.85 14.35 68.0501 14.44 68.2601 14.5L68.7701 14.63C68.9381 14.6666 69.1121 14.6666 69.2801 14.63L69.8199 14.5C70.1224 14.4153 70.4298 14.3485 70.7401 14.3C71.2273 14.2362 71.7192 14.2161 72.2101 14.24C73.7901 14.3333 75.3027 14.9132 76.5401 15.9L76.62 15.96C76.8857 16.1689 77.1394 16.3926 77.38 16.63C77.9185 17.1803 78.3826 17.7989 78.7601 18.47C79.1805 19.2192 79.4935 20.0237 79.69 20.86C79.7606 21.1903 79.8139 21.5241 79.8499 21.86V21.92C79.8499 22.14 79.85 22.36 79.91 22.59V22.88C79.8952 23.7918 79.7539 24.6971 79.4901 25.57C79.2229 26.4367 78.8284 27.259 78.3199 28.01C77.9572 28.5462 77.5307 29.0365 77.0499 29.47C76.5332 29.9438 75.9586 30.3503 75.3399 30.68C74.7393 30.9963 74.1009 31.2349 73.44 31.39C73.1098 31.4566 72.7759 31.5033 72.44 31.53C72.1683 31.5663 71.8941 31.583 71.62 31.58C70.9425 31.566 70.2699 31.4618 69.62 31.27L69.3199 31.18C69.2139 31.1628 69.1061 31.1628 69.0001 31.18C68.85 31.1822 68.7012 31.2092 68.5599 31.26C68.1392 31.4065 67.7032 31.5038 67.2601 31.55H67.0201C66.7214 31.5837 66.4205 31.5971 66.12 31.59V31.59ZM71.2301 8.35999C71.3015 8.16577 71.435 8.00055 71.61 7.88999V7.88999C71.818 7.76813 72.063 7.72551 72.2999 7.77C72.9667 7.90592 73.6197 8.10343 74.2501 8.35999L74.9701 8.62C75.6301 8.85 76.2701 9.09 76.9701 9.34L77.17 9.41001C76.9954 9.49591 76.8149 9.56943 76.63 9.63001C76.1329 9.7879 75.6101 9.84899 75.0899 9.81001C74.4527 9.76922 73.8288 9.60982 73.2501 9.34C72.7201 9.09 72.19 8.82001 71.67 8.56001L71.2301 8.35999Z" fill="#3B1F93"/>
						<path d="M68.84 26.94C69.1865 26.9311 69.5272 26.8493 69.84 26.7C70.4278 26.4119 70.9105 25.9467 71.2201 25.37C71.6609 24.593 71.8885 23.7133 71.88 22.82C71.877 22.4205 71.837 22.0221 71.7602 21.63C71.6322 20.7352 71.2098 19.9083 70.56 19.28C70.08 18.8107 69.4412 18.5393 68.7702 18.52H68.7001H68.5202C68.3718 18.541 68.2247 18.5711 68.08 18.61C67.6875 18.7321 67.3244 18.9336 67.0131 19.202C66.7017 19.4704 66.4489 19.7998 66.2702 20.17C65.8919 20.8607 65.686 21.6326 65.6701 22.42C65.6487 22.8786 65.679 23.3381 65.7602 23.79C65.8778 24.5512 66.1991 25.2665 66.6901 25.86C67.1404 26.4161 67.7897 26.7748 68.5002 26.86L68.84 26.94ZM67.7902 23.39C67.7902 23.24 67.7901 23.09 67.7401 22.94V22.74C67.7401 22.2035 67.8704 21.6749 68.12 21.2C68.2296 20.9719 68.4034 20.7808 68.62 20.65C68.7038 20.5907 68.8068 20.565 68.9086 20.5779C69.0104 20.5909 69.1038 20.6416 69.1701 20.72C69.4989 20.9935 69.7246 21.3709 69.81 21.79C69.9406 22.2445 69.9781 22.7207 69.9201 23.19V23.19C69.8841 23.6455 69.7365 24.0852 69.4901 24.47C69.3812 24.6678 69.2085 24.8229 69.0002 24.91C68.9196 24.9395 68.8322 24.9448 68.7487 24.9252C68.6652 24.9057 68.5893 24.8621 68.5302 24.8C68.1153 24.4395 67.8512 23.9362 67.7902 23.39V23.39Z" fill="#3B1F93"/>
						<path d="M21.26 41.46C32.7089 41.46 41.99 32.1789 41.99 20.73C41.99 9.28114 32.7089 0 21.26 0C9.81113 0 0.529999 9.28114 0.529999 20.73C0.529999 32.1789 9.81113 41.46 21.26 41.46Z" fill="white"/>
						<path d="M22.67 13.54C22.67 13.54 22.1399 13.45 22.1399 13.41C22.1399 13.37 22.14 13.28 22.24 13.18C23.0444 13.4802 23.8999 13.6188 24.7579 13.5879C25.6158 13.557 26.4594 13.3572 27.24 13C31.09 11.26 32.68 6.26001 32.75 6.00001C32.8007 5.83263 32.8133 5.65608 32.7874 5.48314C32.7615 5.31019 32.6974 5.14517 32.5999 5.00001C32.5069 4.85497 32.3838 4.73165 32.2388 4.63847C32.0939 4.54529 31.9306 4.48443 31.7601 4.46C31.5401 4.46 26.3198 3.69 23.0498 6.36C22.4388 6.85448 21.9209 7.45386 21.5201 8.13002L21.47 8.06001C20.5152 6.86095 19.212 5.9875 17.74 5.56001C17.0191 5.31574 16.2753 5.14486 15.5201 5.05C15.3515 5.03234 15.181 5.05153 15.0206 5.10624C14.8601 5.16096 14.7133 5.24988 14.5906 5.36686C14.4679 5.48385 14.3721 5.6261 14.3099 5.78377C14.2476 5.94143 14.2204 6.11076 14.23 6.28001C14.2943 7.03891 14.4349 7.78937 14.6499 8.52C15.1399 10.21 15.4701 11.52 16.5401 12.36C17.106 12.9543 17.8569 13.3386 18.67 13.45V13.67C18.67 13.67 18.8 13.67 18.67 13.67C18.2909 13.6321 17.9091 13.6321 17.5301 13.67C17.2875 13.7068 17.0469 13.7568 16.8099 13.82C16.2836 13.9486 15.7739 14.1365 15.2901 14.38C14.9034 14.5745 14.5322 14.7984 14.18 15.05C13.8277 15.2958 13.4936 15.5665 13.18 15.86C13.03 16 12.88 16.16 12.7 16.35C12.52 16.54 12.2401 16.88 12.0301 17.16C11.7242 17.5685 11.45 17.9997 11.21 18.45C11.05 18.75 10.9001 19.06 10.7701 19.37C10.5662 19.8544 10.3958 20.3523 10.2601 20.86C10.1112 21.4213 10.0042 21.9929 9.93999 22.57V22.57C9.86483 23.405 9.86483 24.245 9.93999 25.08C9.93999 25.34 10.0001 25.6 10.0301 25.79C10.0601 25.98 10.13 26.38 10.19 26.65C10.2889 27.0801 10.4123 27.5041 10.5599 27.92C10.6899 28.27 10.83 28.62 10.98 28.92C11.2567 29.5403 11.5915 30.1329 11.98 30.69C12.2225 31.0235 12.4864 31.3408 12.7701 31.64C12.9401 31.82 13.1001 31.97 13.2601 32.12C13.4201 32.27 13.6001 32.43 13.7801 32.56C14.0974 32.8154 14.4315 33.0493 14.7801 33.26C15.1829 33.4886 15.6045 33.6826 16.0401 33.84C16.4594 33.9882 16.8909 34.0986 17.3299 34.17C17.6038 34.2234 17.8812 34.2568 18.16 34.27C18.6574 34.2985 19.1564 34.2784 19.6499 34.21L20.3499 34.08H20.47H20.5401C21.0285 34.2222 21.532 34.3061 22.0401 34.33H22.48H23.0301C23.2701 34.33 23.5201 34.33 23.7601 34.24C24.0813 34.1883 24.3987 34.1148 24.71 34.02C25.3225 33.831 25.91 33.5692 26.46 33.24C26.9877 32.9266 27.4804 32.5578 27.93 32.14C28.13 31.95 28.32 31.76 28.5 31.56C28.68 31.36 28.8899 31.1 29.0799 30.85C29.4568 30.3699 29.7914 29.858 30.0799 29.32C30.2199 29.05 30.35 28.77 30.46 28.48C30.6919 27.9087 30.8792 27.3203 31.0201 26.72C31.1101 26.32 31.19 25.9 31.25 25.43C31.2925 25.1519 31.3157 24.8713 31.3199 24.59C31.3199 24.5 31.3199 24.41 31.3199 24.31C31.3314 24.1369 31.3314 23.9631 31.3199 23.79C31.3199 23.66 31.3199 23.54 31.3199 23.41C31.3199 23.28 31.3199 23.15 31.3199 23.02C31.3199 22.89 31.3201 22.62 31.2601 22.44C31.2001 22.26 31.2 22.07 31.17 21.88V21.74C31.1006 21.3653 31.0105 20.9947 30.8999 20.63C30.7999 20.31 30.7099 20.02 30.6099 19.76C30.4585 19.3639 30.2849 18.9766 30.0899 18.6C29.8593 18.1561 29.5987 17.7284 29.3099 17.32C29.0666 16.9686 28.7995 16.6344 28.5101 16.32C28.3101 16.11 28.13 15.93 27.93 15.75C27.73 15.57 27.5499 15.42 27.3599 15.28C27.0908 15.0775 26.8105 14.8906 26.5201 14.72C26.0972 14.4692 25.6519 14.2583 25.19 14.09C24.6886 13.9077 24.1688 13.7803 23.6399 13.71V13.46C23.4108 13.343 23.1736 13.2428 22.93 13.16H22.67C22.4 13.16 22.1099 13.4 21.8199 13.43L22.24 13.56L22.71 13.78V13.61V13.53L22.67 13.54ZM16.8599 7.8C17.9194 8.09198 18.8691 8.69033 19.5899 9.52C19.776 9.54534 19.9513 9.62257 20.0955 9.74284C20.2397 9.86311 20.3472 10.0216 20.4056 10.2001C20.4639 10.3786 20.4709 10.5699 20.4256 10.7521C20.3803 10.9344 20.2844 11.1002 20.1492 11.2306C20.014 11.361 19.8449 11.4506 19.6612 11.4894C19.4774 11.5281 19.2864 11.5143 19.1102 11.4495C18.9339 11.3848 18.7793 11.2717 18.6644 11.1232C18.5494 10.9747 18.4786 10.7969 18.46 10.61C17.6527 9.85835 17.0943 8.87788 16.8599 7.8V7.8ZM29.1199 22.11C29.127 22.1731 29.127 22.2369 29.1199 22.3V22.43C29.1199 22.59 29.17 22.77 29.2 22.98C29.23 23.19 29.2 23.17 29.2 23.27V23.42C29.2 23.71 29.2 24.01 29.2 24.31C29.2 24.61 29.1999 24.88 29.1399 25.15C29.0875 25.6224 29.0006 26.0903 28.8799 26.55C28.7764 26.9483 28.6462 27.3392 28.49 27.72C28.37 28.01 28.2599 28.25 28.1399 28.47C27.9042 28.925 27.6262 29.3569 27.3099 29.76C27.1499 29.95 26.9898 30.15 26.7998 30.35C26.4195 30.7558 25.9896 31.1119 25.5201 31.41C25.0607 31.7044 24.5626 31.9332 24.0401 32.09L24.43 31.7C24.7194 31.3855 24.9868 31.0514 25.23 30.7C25.612 30.1916 25.9468 29.6494 26.23 29.08C26.4862 28.5442 26.7001 27.9891 26.8699 27.42C26.9948 26.9955 27.0983 26.5649 27.18 26.13C27.18 25.91 27.2501 25.69 27.2701 25.48C27.2901 25.27 27.3199 24.96 27.3399 24.72C27.3599 24.48 27.3399 24.49 27.3399 24.39C27.3399 24.29 27.3399 24.29 27.3399 24.24C27.3473 24.1335 27.3473 24.0265 27.3399 23.92C27.3399 23.83 27.3399 23.75 27.3399 23.65C27.3399 23.55 27.3399 23.44 27.3399 23.34C27.3399 23.01 27.29 22.69 27.25 22.34C27.1751 21.7688 27.058 21.204 26.8999 20.65C26.78 20.2244 26.633 19.8069 26.46 19.4C26.2668 18.9453 26.043 18.5043 25.7901 18.08C25.6701 17.89 25.55 17.7 25.43 17.51L25.2801 17.27L25.18 17.14L24.97 16.88L24.69 16.55C24.52 16.36 24.3399 16.17 24.0899 15.93L24.6099 16.11C25.1672 16.3424 25.689 16.6521 26.16 17.03L26.5498 17.36L26.8499 17.66L26.94 17.75C27.1603 17.9822 27.364 18.2294 27.5498 18.49C27.85 18.905 28.1111 19.3469 28.3299 19.81C28.4777 20.1157 28.608 20.4295 28.72 20.75C28.7352 20.9998 28.7352 21.2502 28.72 21.5C28.6914 21.6322 28.6546 21.7624 28.6099 21.89V21.89L28.8099 21.98L29.1199 22.11ZM23.0101 17.71L23.18 17.9L23.3199 18.05C23.4699 18.22 23.6 18.4 23.71 18.55C24.012 18.9709 24.2732 19.4196 24.49 19.89C24.7104 20.3608 24.8911 20.8491 25.0301 21.35C25.1337 21.7185 25.2171 22.0924 25.2801 22.47C25.2801 22.61 25.2799 22.76 25.3299 22.9V23.05C25.3619 23.5261 25.3619 24.0039 25.3299 24.48C25.3299 24.7 25.3301 24.93 25.2801 25.15C25.2301 25.37 25.21 25.68 25.16 25.94C25.11 26.2 25.07 26.38 24.99 26.66C24.8925 27.0271 24.7722 27.3878 24.6299 27.74C24.4799 28.0831 24.3096 28.4171 24.1199 28.74C23.9202 29.0885 23.6964 29.4227 23.45 29.74C23.36 29.85 23.27 29.96 23.16 30.09L23.0799 30.18L22.8599 30.41C22.499 30.7876 22.0965 31.1231 21.66 31.41C21.1567 31.7321 20.6071 31.975 20.0301 32.13C19.773 32.1944 19.5126 32.2445 19.25 32.28C18.9407 32.3094 18.6292 32.3094 18.3199 32.28C17.9829 32.2648 17.6481 32.2179 17.3199 32.14C16.8293 32.024 16.3555 31.8459 15.91 31.61H15.8599C15.7718 31.5685 15.688 31.5182 15.6099 31.46L15.5301 31.41C15.4037 31.3438 15.2831 31.2669 15.17 31.18L15.0799 31.12C14.7197 30.855 14.3849 30.557 14.0799 30.23C13.8628 30.0012 13.6624 29.7573 13.48 29.5C13.2477 29.1813 13.0371 28.8472 12.8499 28.5C12.6712 28.15 12.5143 27.7893 12.3799 27.42C12.2514 27.0668 12.1444 26.7062 12.0599 26.34C11.9999 26.07 11.95 25.8 11.91 25.53C11.87 25.26 11.8499 25.04 11.8299 24.78C11.8111 24.4236 11.8111 24.0664 11.8299 23.71C11.8299 23.5 11.8299 23.28 11.8299 23.05C11.8741 22.6466 11.9411 22.246 12.0301 21.85C12.11 21.4913 12.21 21.1374 12.3299 20.79C12.4402 20.4768 12.5672 20.1698 12.71 19.87C12.9112 19.4521 13.1452 19.0508 13.41 18.67C13.56 18.45 13.7299 18.25 13.8799 18.06C14.0505 17.8645 14.2307 17.6776 14.42 17.5C14.6533 17.274 14.9041 17.0667 15.17 16.88C15.4628 16.6691 15.774 16.485 16.0999 16.33C16.5072 16.1344 16.9372 15.99 17.3799 15.9C17.6409 15.8477 17.9047 15.811 18.17 15.79H18.7901C19.1031 15.8079 19.4141 15.8514 19.72 15.92C20.6127 16.1221 21.4473 16.5257 22.16 17.1L22.22 17.15L22.5 17.39L22.5599 17.44C22.6809 17.5418 22.7946 17.6521 22.8999 17.77V17.77L23.0101 17.71ZM22.95 11.04C23.1056 9.86972 23.6602 8.78895 24.5201 7.97999C26.0682 6.8488 27.9326 6.23311 29.8499 6.22001V6.22001C29.6469 6.58396 29.4859 6.96976 29.3699 7.37001C28.6463 8.78527 27.5232 9.95703 26.1399 10.74C25.1507 11.2326 24.0137 11.3395 22.95 11.04V11.04Z" fill="#FF9C1A"/>
						<path d="M18.2 16.98H18.0999C17.9937 16.9664 17.8863 16.9664 17.7801 16.98C17.4332 17.0809 17.098 17.2183 16.7801 17.39C16.3313 17.6338 15.9147 17.9328 15.5401 18.28C15.3303 18.4738 15.1331 18.6809 14.95 18.9C14.6668 19.238 14.4125 19.5993 14.19 19.98C13.7396 20.7659 13.422 21.6207 13.2501 22.51C13.1882 22.8205 13.1446 23.1344 13.1199 23.45C13.1199 23.5 13.1199 23.55 13.1199 23.6C13.1199 23.65 13.1199 23.69 13.1199 23.73C13.0833 23.9124 13.0838 24.1003 13.1216 24.2825C13.1594 24.4646 13.2337 24.6373 13.3399 24.79L13.4 24.85L13.5599 24.97C13.7254 25.0813 13.9205 25.1404 14.1199 25.14C14.232 25.1419 14.3436 25.125 14.45 25.09C14.6013 25.0425 14.7391 24.9597 14.8521 24.8484C14.9651 24.7372 15.0501 24.6006 15.0999 24.45C15.1442 24.3077 15.1646 24.159 15.16 24.01C15.16 24.01 15.16 23.93 15.16 23.89V23.73C15.16 23.54 15.16 23.35 15.21 23.17C15.3167 22.4 15.5678 21.657 15.95 20.98C16.1326 20.6568 16.3505 20.3549 16.5999 20.08C16.786 19.8723 16.9902 19.6816 17.21 19.51C17.5493 19.2415 17.9311 19.0319 18.3399 18.89C18.5453 18.8477 18.7293 18.7342 18.8592 18.5695C18.9891 18.4049 19.0565 18.1996 19.0499 17.99C19.0382 17.7519 18.9488 17.5241 18.7952 17.3417C18.6417 17.1593 18.4327 17.0322 18.2 16.98V16.98Z" fill="#FF9C1A"/>
					</svg>
					{{$translate('Персик и слива')}} - 192 {{$translate('Га')}}
                </h6>
                <h6 class="qf-gardens__lastData--mobile" :style="{opacity: appleHovered ? 1 : 0}">
                    <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.77 40.84C32.0477 40.84 41.19 31.6977 41.19 20.42C41.19 9.14235 32.0477 0 20.77 0C9.49235 0 0.350006 9.14235 0.350006 20.42C0.350006 31.6977 9.49235 40.84 20.77 40.84Z" fill="white"/>
						<path d="M33.1901 19.3301V19.0701C33.1369 18.5499 33.0157 18.0389 32.83 17.55C32.5418 16.7461 32.1003 16.0057 31.53 15.37C31.1334 14.9202 30.6836 14.5206 30.1901 14.18C29.4582 13.6857 28.6647 13.289 27.83 13C26.9418 12.6814 26.0035 12.5256 25.06 12.54C24.8389 12.551 24.6186 12.5743 24.4001 12.61H24.2299C23.6553 12.6866 23.0977 12.859 22.58 13.12C22.36 13.23 22.1401 13.36 21.9301 13.48L21.78 13.5701V11.9L22.2199 11.99C22.5493 12.0655 22.8834 12.1189 23.2199 12.15C23.7159 12.1855 24.2139 12.1855 24.7099 12.15H24.79C25.2798 12.1004 25.757 11.9649 26.1999 11.75C27.0979 11.3329 27.8631 10.6754 28.4101 9.85009C28.8311 9.23097 29.1674 8.55834 29.4101 7.85009L29.4699 7.68005C29.618 7.34961 29.6963 6.9921 29.6999 6.63C29.6815 6.45501 29.6174 6.28796 29.5139 6.14574C29.4103 6.00352 29.271 5.89123 29.11 5.82006C28.4177 5.59777 27.6968 5.47654 26.9699 5.46007C26.6357 5.45916 26.3017 5.47914 25.9699 5.52001H25.7499C25.2783 5.57457 24.819 5.70634 24.3901 5.91003C23.7315 6.1986 23.1495 6.63692 22.6901 7.19006C22.4001 7.55006 22.1301 7.92999 21.9101 8.24999C21.8372 8.35953 21.7702 8.47313 21.7099 8.59008V8.30004C21.7099 7.80004 21.7099 7.30009 21.7099 6.85009C21.7162 6.70943 21.6928 6.56895 21.6411 6.43798C21.5894 6.30701 21.5108 6.1885 21.4101 6.09008C21.3115 5.99732 21.195 5.92555 21.0678 5.87914C20.9406 5.83273 20.8053 5.81262 20.6701 5.82006C20.4389 5.84222 20.2225 5.94417 20.0583 6.10839C19.8941 6.27261 19.7921 6.4889 19.77 6.72008C19.77 8.45008 19.77 10.21 19.77 11.91C19.77 12.4634 19.77 13.0167 19.77 13.5701C19.4103 13.3221 19.0248 13.1143 18.6201 12.9501C17.9549 12.6697 17.2417 12.5202 16.52 12.51C16.0143 12.5111 15.5094 12.5512 15.0099 12.63C14.1777 12.7647 13.3715 13.0278 12.6201 13.41C12.0223 13.6814 11.4557 14.0167 10.9301 14.41C10.4844 14.754 10.0814 15.1502 9.72992 15.5901C9.35935 16.0533 9.05333 16.5645 8.82001 17.11C8.55523 17.7286 8.38012 18.3819 8.29999 19.05C8.29999 19.13 8.29999 19.22 8.29999 19.3V19.42V20.88V21.01V21.3L8.35004 21.64C8.35004 21.92 8.42994 22.2 8.49994 22.48C8.65554 23.1603 8.8595 23.8286 9.11005 24.48C9.46393 25.4127 9.892 26.3157 10.3901 27.18C10.8385 27.9874 11.3572 28.7538 11.9401 29.4701C12.2801 29.8701 12.7201 30.4 13.1801 30.91C13.3659 31.111 13.5627 31.3012 13.77 31.48H13.82L13.9699 31.61C14.1999 31.82 14.4499 32.04 14.7099 32.23C15.3546 32.7385 16.0686 33.1528 16.83 33.4601C17.5875 33.7788 18.4117 33.9058 19.2299 33.8301C19.6527 33.7921 20.0656 33.6803 20.4499 33.5C20.5253 33.4447 20.6164 33.415 20.7099 33.415C20.8034 33.415 20.8945 33.4447 20.9699 33.5C21.0309 33.5413 21.0988 33.5718 21.1701 33.5901H21.2299C21.6626 33.7489 22.1191 33.8334 22.58 33.8401C22.7431 33.8528 22.9069 33.8528 23.07 33.8401C23.39 33.7901 23.7801 33.72 24.1401 33.63C24.6525 33.4811 25.1433 33.266 25.6 32.99C26.3592 32.5554 27.0613 32.0281 27.6901 31.42C28.0001 31.13 28.3101 30.8 28.6901 30.42C28.9969 30.1017 29.2872 29.7679 29.56 29.42C29.98 28.86 30.3601 28.28 30.6801 27.79C31.1399 27.0753 31.5444 26.3264 31.8901 25.55C32.2514 24.7607 32.5522 23.9449 32.79 23.11C33.0378 22.257 33.1821 21.3774 33.2199 20.49C33.2324 20.1031 33.2226 19.7158 33.1901 19.3301V19.3301ZM31.29 20.8301C31.2211 21.3615 31.1242 21.8888 30.9999 22.41C30.7763 23.2923 30.4648 24.15 30.07 24.9701C29.629 25.9187 29.1034 26.8256 28.4999 27.68C28.1699 28.15 27.8001 28.6 27.4401 29.02C27.126 29.391 26.7922 29.7449 26.4401 30.0801C25.7537 30.761 24.9553 31.3191 24.08 31.73C23.5643 31.9803 22.9919 32.0907 22.4201 32.05C22.0534 32.0314 21.7026 31.8946 21.4201 31.66C21.2273 31.4926 20.9804 31.4004 20.725 31.4004C20.4697 31.4004 20.2228 31.4926 20.03 31.66C19.8145 31.832 19.5647 31.9558 19.2973 32.0231C19.0299 32.0903 18.7511 32.0995 18.4799 32.05C17.7878 31.9325 17.1294 31.6664 16.55 31.27C16.0859 30.9831 15.6535 30.6479 15.2599 30.27L14.9799 30.01C14.7599 29.8 14.53 29.59 14.33 29.37C13.8008 28.7916 13.313 28.1768 12.8701 27.53C12.364 26.7942 11.9126 26.0222 11.52 25.2201C11.0276 24.2302 10.6519 23.1865 10.4001 22.11C10.3328 21.7795 10.2825 21.4457 10.2499 21.11V20.8301C10.2499 20.6901 10.2499 20.55 10.2499 20.42C10.2499 20.29 10.2499 20.29 10.2499 20.23C10.239 19.4864 10.3787 18.7484 10.6601 18.0601C10.8413 17.611 11.0909 17.1927 11.4001 16.8201C12.5171 15.6069 14.0046 14.7981 15.6301 14.52C16.0613 14.4593 16.4989 14.4593 16.9301 14.52C17.444 14.5808 17.9404 14.744 18.3901 15C18.6666 15.1538 18.9249 15.3384 19.1601 15.55C19.3674 15.7499 19.5641 15.9601 19.7499 16.18L19.9899 16.4601C20.1661 16.6854 20.4186 16.8383 20.6999 16.89C20.8248 16.9058 20.9518 16.8934 21.0712 16.8536C21.1907 16.8138 21.2997 16.7476 21.3901 16.66C21.5713 16.4839 21.7416 16.2969 21.9001 16.1001V16.1001C22.2216 15.7091 22.6028 15.3716 23.03 15.1001C23.4781 14.82 23.978 14.6329 24.4999 14.55C24.9311 14.4888 25.3688 14.4888 25.8 14.55C26.6274 14.6613 27.4293 14.9151 28.1701 15.3C28.7107 15.5628 29.2121 15.8993 29.6601 16.3C30.3273 16.8965 30.8183 17.6642 31.08 18.52C31.2236 18.9595 31.3011 19.4178 31.31 19.88C31.31 19.98 31.31 20.08 31.31 20.17C31.3303 20.3894 31.3337 20.6101 31.32 20.8301H31.29ZM23.1301 10.2001C23.3868 9.56951 23.7449 8.98517 24.1901 8.47008C24.6022 7.97831 25.1582 7.62849 25.78 7.47008C26.2978 7.35032 26.8328 7.32316 27.36 7.39001H27.4999C27.2851 7.93613 26.9921 8.44816 26.6301 8.91003C26.3057 9.33669 25.884 9.67956 25.4001 9.91003C25.0373 10.0734 24.6472 10.1684 24.2499 10.1901H23.9899H23.28H23.1301V10.2001Z" fill="#F43737"/>
						<path d="M19.3802 29.1C19.2599 29.0927 19.1416 29.0656 19.0301 29.0199C18.4671 28.7509 17.9532 28.3893 17.5101 27.95C17.2001 27.66 16.9002 27.3399 16.6102 27.0199C16.3769 26.7778 16.1596 26.5205 15.96 26.2499C15.61 25.7399 15.2502 25.1999 14.9002 24.6299C14.4462 23.8849 14.0803 23.0895 13.8101 22.2599C13.7348 22.0346 13.5819 21.8435 13.3785 21.7207C13.1751 21.598 12.9345 21.5516 12.7 21.59C12.5597 21.6153 12.4267 21.6703 12.3094 21.7514C12.1921 21.8324 12.0934 21.9377 12.0201 22.06C11.9532 22.1756 11.9123 22.3043 11.9002 22.4373C11.8881 22.5703 11.9051 22.7043 11.95 22.83C12.1416 23.3877 12.3621 23.9351 12.6102 24.47C13.0094 25.3243 13.4845 26.1408 14.0301 26.9099C14.5059 27.5961 15.0378 28.2417 15.6202 28.84C15.9102 29.14 16.2401 29.42 16.5501 29.69L16.74 29.85C17.1972 30.2579 17.713 30.595 18.2701 30.85C18.608 31.0087 18.9769 31.0907 19.3502 31.09H19.4202C19.5745 31.0907 19.7261 31.0503 19.8597 30.9729C19.9932 30.8956 20.104 30.7841 20.1802 30.6499C20.2743 30.5001 20.324 30.3268 20.324 30.1499C20.324 29.973 20.2743 29.7997 20.1802 29.6499C20.1046 29.4979 19.9913 29.3676 19.8514 29.2714C19.7114 29.1752 19.5493 29.1162 19.3802 29.1Z" fill="#F43737"/>
					</svg>
					{{$translate('Яблоко')}} - 535 {{$translate('Га')}}
                </h6>
            </div>
            <div class="qf-gardens__lastImages">
                <div class="qf-gardens__frow">
                    <div class="qf-gardens__frowleft">
                        <div class="qf-gardens__lastData"></div>
                    </div>
                    <div class="qf-gardens__frowright qf-gardens__cherryWrp" @mouseenter="hoverCherry" @mouseleave="leaveCherry" data-gartxt="cherry">
                        <img src="@/assets/img/qf-gardens__cherry-lg.png"
                             alt="qf-gardens__cherry--lg"
                             data-gartxt="cherry"
							 :class="{'qf-gardens__lastImg--group' : cherryHovered}"
                             class="qf-gardens__lastImg qf-gardens__cherrys">
                    </div>
                </div>
                <div class="qf-gardens__srow">
                    <div class="qf-gardens__srowleft">
                        <div class="qf-gardens__srowfb">
                            <div class="qf-gardens__srowleft qf-gardens__peachWrp" 
								@mouseenter="hoverPeach"
								@mouseleave="leavePeach"
								data-gartxt="peach">
                                <img src="@/assets/img/qf-gardens__peach.png" 
									alt="qf-gardens__peach"
									data-gartxt="peach"
									:class="{'qf-gardens__lastImg--group' : peachHovered}"
                                    class="qf-gardens__lastImg qf-gardens__same qf-gardens__peaches">
                                <h6 class="qf-gardens__lastData--txt qf-gardens__lastData--svgPea qf-gardens__lastData--peach" v-if="!$mobile()">
                                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 571.53 356.54">
                                        <defs>
                                            <style>
                                                .plumpcls-1,.plumpcls-4{fill:#fff;}
                                                .plumpcls-2{fill:#3b1f93;}
                                                .plumpcls-3{fill:#ff9c1a;}
                                                .plumpcls-4{font-size:22px;font-family:Futura PT;}
                                                .plumpcls-5{fill:none;stroke:#fff;transition: .3s ease;stroke-miterlimit:10;stroke-dasharray: 135%;stroke-dashoffset:-135%;}
                                                .qf-gardens__peachText, .peachCircle{opacity: 0;}
                                            </style>
                                        </defs>
                                        <g class="qf-gardens__peachText" :style="{opacity: peachHovered ? 1 : 0}">
                                            <circle class="plumpcls-1" cx="551.11" cy="20.73" r="20.42"/>
                                            <path class="plumpcls-2" d="M3698.14,474.77v0c0-.47-0.1-0.89-0.17-1.28a9.6,9.6,0,0,0-.91-2.71,12.17,12.17,0,0,0-.87-1.45,12.4,12.4,0,0,0-1-1.27,8.63,8.63,0,0,0-.77-0.71l-0.17-.14a8.5,8.5,0,0,0-1.56-1.05,10,10,0,0,0-2.36-.91,10.39,10.39,0,0,0-2.21-.28,7.39,7.39,0,0,0-1,.06l-0.7.09h-0.09l0.29-2.19,0.09,0,0.94,0.5a10.85,10.85,0,0,0,2,.87,8,8,0,0,0,2,.3,3.17,3.17,0,0,0,.46,0h0l0.18,0a5.67,5.67,0,0,0,.63-0.08,6,6,0,0,0,1.92-.76,5.25,5.25,0,0,0,1.42-1.21,1,1,0,0,0-.42-1.55l-1.08-.42-1.32-.51c-0.94-.35-2-0.71-3.27-1.17a4.5,4.5,0,0,0-1.63-.34c-0.29,0-.62,0-1,0.06a1.56,1.56,0,0,0-.55.19,4.61,4.61,0,0,0-1,.77,4.81,4.81,0,0,0-.93,1.21,3.19,3.19,0,0,0-.4,1.17c0,0.22-.06.43-0.1,0.66s0,0.26-.06.39,0,0.3-.06.44l0,0.24,0,0.35c0,0.23-.06.46-0.09,0.7s0,0.26,0,.39a8.66,8.66,0,0,0-1.71-.17,7,7,0,0,0-1,.06h-0.08a10.21,10.21,0,0,0-1.14.17,9.64,9.64,0,0,0-2.54,1,10.52,10.52,0,0,0-2.42,1.85,11.07,11.07,0,0,0-1.32,1.65A9.9,9.9,0,0,0,3673,472a12.58,12.58,0,0,0-.4,1.46c-0.07.33-.1,0.67-0.14,1,0,0.14,0,.28,0,0.41l0,0,0,0.05v1.55l0,0.06,0,0.19a5.7,5.7,0,0,0,.07.6c0.1,0.54.2,1.06,0.35,1.59a9.87,9.87,0,0,0,1.06,2.44,10.11,10.11,0,0,0,1.43,1.9c0.31,0.32.64,0.61,1,.93a8.92,8.92,0,0,0,1.75,1.15,9.87,9.87,0,0,0,1.77.7,9.3,9.3,0,0,0,2.21.36,11,11,0,0,0,1.14,0l0.33,0a7,7,0,0,0,1.48-.26l0.08,0a0.74,0.74,0,0,1,.18,0l0.24,0.06a2.18,2.18,0,0,0,.31.08l0.31,0.05c0.45,0.07.91,0.15,1.37,0.18l0.52,0a9,9,0,0,0,1.25-.09,10.1,10.1,0,0,0,1.52-.32,9.78,9.78,0,0,0,2.21-1,10,10,0,0,0,1.65-1.22,10.59,10.59,0,0,0,1.25-1.36,10.93,10.93,0,0,0,1.45-2.52,9.55,9.55,0,0,0,.66-2.37c0.06-.47.13-1.09,0.17-1.71A6.7,6.7,0,0,0,3698.14,474.77Zm-15.69,9.61a7.86,7.86,0,0,1-2.8-.57,8.08,8.08,0,0,1-1.94-1.13,8.48,8.48,0,0,1-1.44-1.46,8.92,8.92,0,0,1-1-1.6,7.8,7.8,0,0,1-.7-2.13c-0.07-.45-0.12-0.92-0.17-1.37v0a4,4,0,0,1,0-.7c0-.44.09-0.91,0.16-1.39a8.33,8.33,0,0,1,1-2.76,7,7,0,0,1,.9-1.31c0.22-.25.46-0.52,0.72-0.77a7.44,7.44,0,0,1,1.53-1.15,7.16,7.16,0,0,1,2.09-.84,10.48,10.48,0,0,1,1.18-.18,7.09,7.09,0,0,1,1,0,6.38,6.38,0,0,1,1,.12c0.2,0,.4.09,0.61,0.15l0.51,0.13a1.2,1.2,0,0,0,.51,0l0.54-.13a8,8,0,0,1,.92-0.2,8.23,8.23,0,0,1,1.47-.06,7.67,7.67,0,0,1,4.33,1.66l0.08,0.06a9,9,0,0,1,.76.67,8.8,8.8,0,0,1,1.38,1.84,9.17,9.17,0,0,1,.93,2.39,9.77,9.77,0,0,1,.16,1v0.06c0,0.22,0,.44.06,0.67l0,0.29a9.85,9.85,0,0,1-.42,2.69,9.17,9.17,0,0,1-1.17,2.44,8,8,0,0,1-1.27,1.46,8.32,8.32,0,0,1-1.71,1.21,8,8,0,0,1-1.9.71,8.44,8.44,0,0,1-1,.14,5.72,5.72,0,0,1-.82.05,7.62,7.62,0,0,1-2-.31l-0.3-.09a1,1,0,0,0-.32,0,1.36,1.36,0,0,0-.44.08,5.77,5.77,0,0,1-1.3.29l-0.24,0A6.63,6.63,0,0,1,3682.45,484.38Zm5.11-23.23a0.94,0.94,0,0,1,.38-0.47h0a1,1,0,0,1,.69-0.12,11,11,0,0,1,1.95.59l0.72,0.26c0.66,0.23,1.3.47,2,.72l0.2,0.07a4.15,4.15,0,0,1-.54.22,4.08,4.08,0,0,1-1.54.18,5.13,5.13,0,0,1-1.84-.47c-0.53-.25-1.06-0.52-1.58-0.78Z" transform="translate(-3134.17 -452.79)"/>
                                            <path class="plumpcls-2" d="M3685.17,479.73a2.47,2.47,0,0,0,1-.24,3.13,3.13,0,0,0,1.38-1.33,5.07,5.07,0,0,0,.66-2.55,6.44,6.44,0,0,0-.12-1.19,4.07,4.07,0,0,0-1.2-2.35,2.67,2.67,0,0,0-1.79-.76h-0.07l-0.18,0a3.69,3.69,0,0,0-.44.09,3,3,0,0,0-1.81,1.56,4.89,4.89,0,0,0-.6,2.25,6.13,6.13,0,0,0,.09,1.37,4.27,4.27,0,0,0,.93,2.07,2.75,2.75,0,0,0,1.81,1Zm-1.05-3.55c0-.15,0-0.3-0.05-0.45l0-.2a3.31,3.31,0,0,1,.38-1.54,1.3,1.3,0,0,1,.5-0.55,0.41,0.41,0,0,1,.55.07,1.88,1.88,0,0,1,.64,1.07,3.51,3.51,0,0,1,.11,1.4h0a2.78,2.78,0,0,1-.43,1.28,1,1,0,0,1-.49.44,0.44,0.44,0,0,1-.47-0.11A2.19,2.19,0,0,1,3684.12,476.18Z" transform="translate(-3134.17 -452.79)"/>
                                            <circle class="plumpcls-1" cx="503.43" cy="20.73" r="20.73"/>
                                            <path class="plumpcls-3" d="M3639,466.33s-0.53-.09-0.53-0.13,0-.13.1-0.23a6.53,6.53,0,0,0,5-.18c3.85-1.74,5.44-6.74,5.51-7a1.18,1.18,0,0,0-.15-1,1.2,1.2,0,0,0-.84-0.54c-0.22,0-5.44-.77-8.71,1.9a6.62,6.62,0,0,0-1.53,1.77l-0.05-.07a7.41,7.41,0,0,0-3.73-2.5,11.31,11.31,0,0,0-2.22-.51,1.17,1.17,0,0,0-1.29,1.23,11.32,11.32,0,0,0,.42,2.24c0.49,1.69.82,3,1.89,3.84a3.62,3.62,0,0,0,2.13,1.09v0.22s0.13,0,0,0a5.73,5.73,0,0,0-1.14,0,6.69,6.69,0,0,0-.72.15,7.16,7.16,0,0,0-1.52.56,8.41,8.41,0,0,0-1.11.67,9,9,0,0,0-1,.81c-0.15.14-.3,0.3-0.48,0.49s-0.46.53-.67,0.81a10,10,0,0,0-.82,1.29c-0.16.3-.31,0.61-0.44,0.92a11.49,11.49,0,0,0-.51,1.49,11.73,11.73,0,0,0-.32,1.71v0a14,14,0,0,0,0,2.51c0,0.26.06,0.52,0.09,0.71s0.1,0.59.16,0.86a11.52,11.52,0,0,0,.37,1.27c0.13,0.35.27,0.7,0.42,1a10.75,10.75,0,0,0,1,1.77,9.51,9.51,0,0,0,.79.95c0.17,0.18.33,0.33,0.49,0.48s0.34,0.31.52,0.44a9.12,9.12,0,0,0,1,.7,8.2,8.2,0,0,0,1.26.58,7.47,7.47,0,0,0,1.29.33,5.77,5.77,0,0,0,.83.1,7.66,7.66,0,0,0,1.49-.06l0.7-.13,0.12,0,0.07,0a6.45,6.45,0,0,0,1.5.25h0.44l0.55,0c0.24,0,.49,0,0.73-0.09a7.17,7.17,0,0,0,.95-0.22,8,8,0,0,0,1.75-.78,8.64,8.64,0,0,0,1.47-1.1c0.2-.19.39-0.38,0.57-0.58s0.39-.46.58-0.71a10.55,10.55,0,0,0,1-1.53c0.14-.27.27-0.55,0.38-0.84a11.91,11.91,0,0,0,.56-1.76c0.09-.4.17-0.82,0.23-1.29a6.17,6.17,0,0,0,.07-0.84c0-.09,0-0.18,0-0.28a3.91,3.91,0,0,0,0-.52c0-.13,0-0.25,0-0.38s0-.26,0-0.39,0-.4-0.06-0.58-0.06-.37-0.09-0.56l0-.14a10.27,10.27,0,0,0-.27-1.11c-0.1-.32-0.19-0.61-0.29-0.87a11.3,11.3,0,0,0-.52-1.16,11,11,0,0,0-.78-1.28,9.25,9.25,0,0,0-.8-1c-0.2-.21-0.38-0.39-0.58-0.57s-0.38-.33-0.57-0.47a8.87,8.87,0,0,0-.84-0.56,7.92,7.92,0,0,0-1.33-.63,7.38,7.38,0,0,0-1.55-.38l0-.25a5.34,5.34,0,0,0-.71-0.3H3639c-0.27,0-.56.24-0.85,0.27l0.42,0.13s0.47,0.22.47,0.22V466.4h0v-0.08Zm-5.81-5.74a5.58,5.58,0,0,1,2.73,1.72,1,1,0,1,1-1.13,1.09A5.41,5.41,0,0,1,3633.19,460.59Zm12.26,14.31h0a0.85,0.85,0,0,1,0,.19l0,0.13c0,0.16.05,0.34,0.08,0.55s0,0.19,0,.29v0.15c0,0.29,0,.59,0,0.89s0,0.57-.06.84a9.76,9.76,0,0,1-.26,1.4,9.16,9.16,0,0,1-.39,1.17c-0.12.29-.23,0.53-0.35,0.75a8.2,8.2,0,0,1-.83,1.29c-0.16.19-.32,0.39-0.51,0.59a6.61,6.61,0,0,1-1.28,1.06,5.87,5.87,0,0,1-1.48.68l0.39-.39a9.25,9.25,0,0,0,.8-1,10.43,10.43,0,0,0,1-1.62,11.42,11.42,0,0,0,.64-1.66,13.23,13.23,0,0,0,.31-1.29c0-.22.07-0.44,0.09-0.65s0.05-.52.07-0.76,0-.23,0-0.33,0-.1,0-0.15a2.31,2.31,0,0,0,0-.32c0-.09,0-0.17,0-0.27s0-.21,0-0.31c0-.33-0.05-0.65-0.09-1a11.72,11.72,0,0,0-.35-1.69,10.42,10.42,0,0,0-.44-1.25,10.91,10.91,0,0,0-.67-1.32c-0.12-.19-0.24-0.38-0.36-0.57l-0.15-.24-0.1-.13-0.21-.26,0,0-0.28-.33c-0.17-.19-0.35-0.38-0.6-0.62l0.52,0.18a6.43,6.43,0,0,1,1.55.92l0.39,0.33,0.3,0.3,0.09,0.09a6.87,6.87,0,0,1,.61.74,8.31,8.31,0,0,1,.78,1.32,8.92,8.92,0,0,1,.39.94,6.19,6.19,0,0,1,0,.75,3.27,3.27,0,0,1-.11.39h0l0.2,0.09Zm-6.11-4.4,0.17,0.19,0.14,0.15c0.15,0.17.28,0.35,0.39,0.5a8.15,8.15,0,0,1,.78,1.34,9.32,9.32,0,0,1,.54,1.46,10.55,10.55,0,0,1,.25,1.12c0,0.14,0,.29.05,0.43l0,0.15a10.64,10.64,0,0,1,0,1.43c0,0.22,0,.45-0.05.67s-0.07.53-.12,0.79-0.09.44-.17,0.72a9.17,9.17,0,0,1-.36,1.08,9.45,9.45,0,0,1-.51,1,8.62,8.62,0,0,1-.67,1c-0.09.11-.18,0.22-0.29,0.35l-0.08.09-0.22.23a6.91,6.91,0,0,1-1.2,1,5.83,5.83,0,0,1-1.63.72,7.16,7.16,0,0,1-.78.15,4.91,4.91,0,0,1-.93,0,5.38,5.38,0,0,1-1-.14,5.93,5.93,0,0,1-1.41-.53l-0.05,0a1.46,1.46,0,0,1-.25-0.15l-0.08-.05a2.48,2.48,0,0,1-.36-0.23l-0.09-.06a7.22,7.22,0,0,1-1-.89,6.63,6.63,0,0,1-.6-0.73,8.73,8.73,0,0,1-.63-1,9.57,9.57,0,0,1-.47-1.08,9.23,9.23,0,0,1-.32-1.08c-0.06-.27-0.11-0.54-0.15-0.81s-0.06-.49-0.08-0.75a10.17,10.17,0,0,1,0-1.07c0-.21,0-0.43,0-0.66a10.89,10.89,0,0,1,.2-1.2,9.76,9.76,0,0,1,.3-1.06,9.42,9.42,0,0,1,.38-0.92,8.76,8.76,0,0,1,.7-1.2c0.15-.22.32-0.42,0.47-0.61a7.78,7.78,0,0,1,.54-0.56h0a6.19,6.19,0,0,1,.75-0.62,6,6,0,0,1,.93-0.55,5.48,5.48,0,0,1,1.28-.43,6.72,6.72,0,0,1,.79-0.11h0.62a5.76,5.76,0,0,1,.93.13,6,6,0,0,1,2.44,1.18l0.06,0.05,0.28,0.24,0.06,0.05a3.33,3.33,0,0,1,.34.33h0Zm-0.06-6.67a5.13,5.13,0,0,1,1.57-3.06,9.14,9.14,0,0,1,5.33-1.76h0a5.51,5.51,0,0,0-.48,1.15,8.12,8.12,0,0,1-3.23,3.37A4.45,4.45,0,0,1,3639.28,463.83Z" transform="translate(-3134.17 -452.79)"/>
                                            <path class="plumpcls-3" d="M3634.53,469.77h-0.1a1.26,1.26,0,0,0-.32,0,5.1,5.1,0,0,0-1,.41,6.13,6.13,0,0,0-1.24.89,6.63,6.63,0,0,0-.59.62,7.85,7.85,0,0,0-.76,1.08,8.23,8.23,0,0,0-.94,2.53,8,8,0,0,0-.13.94c0,0.05,0,.1,0,0.15s0,0.09,0,.13v0a1.38,1.38,0,0,0,.22,1.06l0.06,0.06,0.16,0.12a1,1,0,0,0,.56.17,1,1,0,0,0,.33-0.05,1,1,0,0,0,.65-0.64,1.34,1.34,0,0,0,.06-0.44s0-.08,0-0.12v-0.16c0-.19,0-0.38.05-0.56a6.18,6.18,0,0,1,.74-2.19,5,5,0,0,1,.65-0.9,4.71,4.71,0,0,1,.61-0.57,3.86,3.86,0,0,1,1.13-.62,0.89,0.89,0,0,0,.71-0.9A1.09,1.09,0,0,0,3634.53,469.77Z" transform="translate(-3134.17 -452.79)"/>
                                            <text class="plumpcls-4" transform="translate(259.17 28.88)">{{$translate('Персик и слива')}} - 192 {{$translate('Га')}}</text>
                                        </g>
                                        <polyline class="plumpcls-5" 
											:style="{strokeDashoffset: peachHovered ? 0 : '-135%'}"
											points="239.33 23.21 239.33 224.71 91.83 224.71"/>
                                        <path class="plumpcls-5" d="M3118,807" transform="translate(-3134.17 -452.79)"/>
                                        <circle class="peachCircle plumpcls-1" 
											:style="{opacity: peachHovered ? 1 : 0}"
											cx="91.83" cy="224.71" r="2.83"/>
                                        <circle class="peachCircle plumpcls-1" 
											:style="{opacity: peachHovered ? 1 : 0}"
											cx="2.83" cy="353.71" r="2.83"/>
                                        <circle class="peachCircle plumpcls-1" 
											:style="{opacity: peachHovered ? 1 : 0}"
											cx="239.33" cy="23.21" r="2.83"/>
                                        <polyline class="plumpcls-5" 
											:style="{strokeDashoffset: peachHovered ? 0 : '-135%'}"
											points="2.83 353.71 239.33 353.71 239.33 224.21"/>
                                    </svg>
                                </h6>
                            </div>
                            <div class="qf-gardens__cherryWrp" 
								@mouseenter="hoverCherry"
								@mouseleave="leaveCherry"
								data-gartxt="cherry">
                                <img src="@/assets/img/qf-gardens__cherry.png" 	alt="qf-gardens__cherry"
                                     data-gartxt="cherry"
									 :class="{'qf-gardens__lastImg--group' : cherryHovered}"
                                     class="qf-gardens__lastImg qf-gardens__cherrys">
                                <h6 class="qf-gardens__lastData--txt qf-gardens__lastData--svgChe qf-gardens__lastData--cherry" v-if="!$mobile()">
                                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452.06 365.17">
                                        <defs>
                                            <style>
                                                .cherrycls-1,.cherrycls-3{fill:#fff;}
                                                .cherrycls-2{fill:#840432;}
                                                .cherrycls-3{font-size:24px;font-family:Futura PT;}
                                                .cherrycls-4{fill:none;stroke:#fff; transition: .3s ease;
												stroke-miterlimit:10;stroke-dasharray: 135%;stroke-dashoffset:-135%;}
                                                .qf-gardens__cherryText, .cherryCircle{opacity: 0;}
                                            </style>
                                        </defs>
                                        <g class="qf-gardens__cherryText" :style="{opacity: cherryHovered ? 1 : 0}">
                                            <circle class="cherrycls-1" cx="20.42" cy="163.3" r="20.42"/>
                                            <path class="cherrycls-2" d="M2626.46-401.05c0-.3-0.07-0.59-0.13-0.89a5.53,5.53,0,0,0-.57-1.56,4.94,4.94,0,0,0-.61-0.91c-0.22-.25-0.44-0.5-0.69-0.73a5.23,5.23,0,0,0-.94-0.69,5.92,5.92,0,0,0-1.24-.56,5.14,5.14,0,0,0-1-.23l-0.22,0a0.11,0.11,0,0,1-.06-0.05l-0.69-1.2-0.82-1.42-0.68-1.2L2618-412l-0.65-1.13-0.75-1.31-0.69-1.21-0.82-1.42c-0.18-.31-0.35-0.62-0.54-0.92a1.08,1.08,0,0,0-.19-0.2l-0.17-.14-0.55-.53c-0.29-.26-0.57-0.52-0.87-0.77a14.65,14.65,0,0,0-1.51-1.12,7.27,7.27,0,0,0-1.56-.79,4,4,0,0,0-.86-0.2,3.65,3.65,0,0,0-1.21.12,8.44,8.44,0,0,0-1.49.6,17.45,17.45,0,0,0-1.66.93c-0.5.32-1,.64-1.49,1s-1,.68-1.44,1a3.66,3.66,0,0,0-.4.31,1,1,0,0,0-.29.56l0,0v0.31c0,0.08,0,.17.08,0.25a1,1,0,0,0,.38.45l0.84,0.51,0.76,0.43c0.69,0.37,1.38.74,2.08,1.08,0.52,0.25,1.06.47,1.6,0.68a11.52,11.52,0,0,0,1.11.35,4.08,4.08,0,0,0,.73.12,4.46,4.46,0,0,0,.61,0,3.19,3.19,0,0,0,.8-0.18,6.05,6.05,0,0,0,1.22-.6l0.05,0-3.1,7.23-0.37,0-0.37,0h-0.36a6.29,6.29,0,0,0-.94.09,5.62,5.62,0,0,0-1.18.33,6.18,6.18,0,0,0-1.37.78,6.53,6.53,0,0,0-.87.8,5.48,5.48,0,0,0-.7.95,5.9,5.9,0,0,0-.56,1.23,5.34,5.34,0,0,0-.23,1c0,0.17,0,.34-0.05.5l0,0v0.72l0,0c0,0.3.06,0.6,0.12,0.89a5.63,5.63,0,0,0,.56,1.54,5,5,0,0,0,.64,1c0.21,0.24.42,0.48,0.66,0.7a5.49,5.49,0,0,0,.91.68,5.76,5.76,0,0,0,1.49.65c0.25,0.07.51,0.12,0.77,0.16a4.76,4.76,0,0,0,1.1.06c0.29,0,.57-0.06.85-0.09a4.84,4.84,0,0,0,1-.26,5.78,5.78,0,0,0,1.13-.54,6.1,6.1,0,0,0,.84-0.63,6.1,6.1,0,0,0,.93-1,6,6,0,0,0,.52-0.89,5.46,5.46,0,0,0,.47-1.43c0-.27.08-0.53,0.1-0.8a4.67,4.67,0,0,0,0-.64,6.19,6.19,0,0,0-.23-1.41,6.12,6.12,0,0,0-.47-1.17,5,5,0,0,0-.63-0.94c-0.2-.23-0.41-0.46-0.63-0.68a5.4,5.4,0,0,0-1-.77c-0.12-.07-0.12-0.07-0.07-0.2l0.37-.87,0.42-1,0.37-.85,0.41-1,0.37-.85,0.42-1,0.32-.73,0.42-1,0.36-.84,0.37-.87,0.05-.1,4.93,8.62-0.37.12a5.84,5.84,0,0,0-1.16.56,6.18,6.18,0,0,0-.85.63,6.12,6.12,0,0,0-.84.91,5.87,5.87,0,0,0-.63,1,6,6,0,0,0-.44,1.31,4.86,4.86,0,0,0-.11.89c0,0.21,0,.43,0,0.64a6.09,6.09,0,0,0,.36,1.79,6.11,6.11,0,0,0,.86,1.58,6.16,6.16,0,0,0,.74.82,5.93,5.93,0,0,0,1,.72,5.49,5.49,0,0,0,1.36.6c0.29,0.08.58,0.14,0.88,0.2a4.86,4.86,0,0,0,1.14.06c0.27,0,.53-0.06.8-0.09a5.17,5.17,0,0,0,1.22-.35,6,6,0,0,0,1.23-.68,6.22,6.22,0,0,0,1-.85,5.83,5.83,0,0,0,.7-0.93,5.8,5.8,0,0,0,.58-1.25,6.69,6.69,0,0,0,.2-0.8c0-.23.06-0.47,0.09-0.71l0,0V-401Zm-16.5-2.29a4,4,0,0,1,1.06,2.76,3.89,3.89,0,0,1-1.28,2.87,3.86,3.86,0,0,1-3,1.07,3.89,3.89,0,0,1-2.67-1.26,3.86,3.86,0,0,1-1.09-2.73,3.89,3.89,0,0,1,1.31-3,3.86,3.86,0,0,1,2.71-1.05A3.88,3.88,0,0,1,2610-403.34Zm1.7-13.58-0.32.29c-0.2.17-.4,0.35-0.62,0.52s-0.49.36-.74,0.53a3.67,3.67,0,0,1-.9.45,1.64,1.64,0,0,1-.75,0,8.07,8.07,0,0,1-1.57-.52l-0.84-.38-1-.48-1.21-.65,0,0,1.24-.82c0.4-.26.8-0.51,1.21-0.74s0.77-.43,1.17-0.62a4.16,4.16,0,0,1,.94-0.37,1.31,1.31,0,0,1,.84.12,6.33,6.33,0,0,1,1.36.79l0.79,0.59c0.16,0.13.31,0.26,0.47,0.4l0.48,0.42Zm11.72,19a3.94,3.94,0,0,1-2.93,1.31,3.94,3.94,0,0,1-3-1.29,3.86,3.86,0,0,1-1.06-3,3.89,3.89,0,0,1,1.31-2.72,3.85,3.85,0,0,1,2.7-1,3.89,3.89,0,0,1,2.82,1.18,3.89,3.89,0,0,1,1.18,2.82A3.85,3.85,0,0,1,2623.37-397.94Z" transform="translate(-2592.77 570.83)"/>
                                            <text class="cherrycls-3" transform="translate(49.47 172.5)">{{$translate('Черешня')}} - 373 {{$translate('Га')}}</text>
                                        </g>
                                        <circle class="cherryCircle cherrycls-1" 
											:style="{opacity: cherryHovered ? 1 : 0}"
											cx="449.23" cy="362.33" r="2.83"/>
                                        <circle class="cherryCircle cherrycls-1" 
											:style="{opacity: cherryHovered ? 1 : 0}"
											cx="265.73" cy="2.83" r="2.83"/>
                                        <line class="cherrycls-4" 
											:style="{strokeDashoffset: cherryHovered ? 0 : '-135%'}"
											x1="230.04" y1="166.5" x2="265.73" y2="167.33"/>
                                        <circle class="cherryCircle cherrycls-1" 
											:style="{opacity: cherryHovered ? 1 : 0}"
											cx="230.04" cy="166.5" r="2.83"/>
                                        <polyline class="cherrycls-4" 
											:style="{strokeDashoffset: cherryHovered ? 0 : '-135%'}"
											points="265.73 2.83 265.73 362.33 449.23 362.33"/>
                                    </svg>
                                </h6>
                            </div>
                        </div>
                        <div class="qf-gardens__srowsb qf-gardens__peachWrp" 
							@mouseenter="hoverPeach"
							@mouseleave="leavePeach"
							data-gartxt="peach">
                            <img src="@/assets/img/qf-gardens__plum.png" alt="qf-gardens__plum"
								:class="{'qf-gardens__lastImg--group' : peachHovered}"
                                 data-gartxt="peach"
                                 class="qf-gardens__lastImg qf-gardens__same qf-gardens__peaches">
                        </div>
                    </div>
                    <div class="qf-gardens__srowright qf-gardens__appleWrp" 
						@mouseenter="hoverApple"
						@mouseleave="leaveApple"
						data-gartxt="apple">
                        <img src="@/assets/img/qf-gardens__apple.png" alt="qf-gardens__apple"
                             data-gartxt="apple"
							 :class="{'qf-gardens__lastImg--group' : appleHovered}"
                             class="qf-gardens__lastImg qf-gardens__apples">
                        <h6 class="qf-gardens__lastData--txt qf-gardens__lastData--svgApp qf-gardens__lastData--apple" v-if="!$mobile()">
                            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312.95 63.14">
                                <defs>
                                    <style>
                                        .applecls-1,.applecls-3{fill:#fff;}
                                        .applecls-2{fill:#f43737;}
                                        .applecls-3{font-size:22px;font-family:Futura PT;}
                                        .applecls-4{fill:none;stroke:#fff;stroke-miterlimit:10;transition: .3s ease;stroke-dasharray: 135%;stroke-dashoffset:-135%;}
                                        .qf-gardens__appleText, .appleCircle{opacity: 0;}
                                    </style>
                                </defs>
                                <g class="qf-gardens__appleText" :style="{opacity: appleHovered ? 1 : 0}">
                                    <circle class="applecls-1" cx="292.53" cy="42.72" r="20.42"/>
                                    <path class="applecls-2" d="M3559.87,1352.29l0-.26a6,6,0,0,0-.36-1.52,6.6,6.6,0,0,0-1.3-2.18,7.36,7.36,0,0,0-1.34-1.19,10.15,10.15,0,0,0-2.36-1.18,7.85,7.85,0,0,0-2.77-.46,5.92,5.92,0,0,0-.66.07l-0.17,0a5.19,5.19,0,0,0-1.65.51c-0.22.11-.44,0.24-0.65,0.36l-0.15.09v-1.67h0l0.44,0.09a7.61,7.61,0,0,0,1,.16,10.45,10.45,0,0,0,1.49,0h0.08a4.2,4.2,0,0,0,1.41-.4,5.36,5.36,0,0,0,2.21-1.9,8.4,8.4,0,0,0,1-2l0.06-.17a2.63,2.63,0,0,0,.23-1.05,1,1,0,0,0-.59-0.81,7.56,7.56,0,0,0-2.14-.36,8,8,0,0,0-1,.06l-0.22,0a4.33,4.33,0,0,0-1.36.39,4.62,4.62,0,0,0-1.7,1.28c-0.29.36-.56,0.74-0.78,1.06a3.55,3.55,0,0,0-.2.34v-0.29c0-.5,0-1,0-1.45a1,1,0,0,0-.3-0.76,1,1,0,0,0-.74-0.27,1,1,0,0,0-.9.9c0,1.73,0,3.49,0,5.19q0,0.83,0,1.66v0a6,6,0,0,0-1.15-.62,5.61,5.61,0,0,0-2.1-.44,9.83,9.83,0,0,0-1.51.12,8.14,8.14,0,0,0-2.39.78,9.1,9.1,0,0,0-1.69,1,7.05,7.05,0,0,0-1.2,1.18,6.57,6.57,0,0,0-.91,1.52,7.07,7.07,0,0,0-.52,1.94c0,0.08,0,.17,0,0.25l0,0.12v1.46h0l0,0.13,0,0.29,0.05,0.34c0,0.28.08,0.56,0.15,0.84a14.7,14.7,0,0,0,.61,2,18.68,18.68,0,0,0,1.28,2.7,15.72,15.72,0,0,0,1.55,2.29c0.34,0.4.78,0.93,1.24,1.44a7.29,7.29,0,0,0,.59.57l0.05,0,0.15,0.13c0.23,0.21.48,0.43,0.74,0.62a8.65,8.65,0,0,0,2.12,1.23,5,5,0,0,0,2.4.37,3.64,3.64,0,0,0,1.22-.33,0.44,0.44,0,0,1,.52,0,0.64,0.64,0,0,0,.2.09l0.06,0a4.09,4.09,0,0,0,1.35.25,3.14,3.14,0,0,0,.49,0c0.32-.05.71-0.12,1.07-0.21a6.13,6.13,0,0,0,1.46-.64,10.54,10.54,0,0,0,2.09-1.57c0.31-.29.62-0.62,1-1a13,13,0,0,0,.87-1c0.42-.56.8-1.14,1.12-1.63a16.69,16.69,0,0,0,1.21-2.24,17.15,17.15,0,0,0,.9-2.44,11.08,11.08,0,0,0,.43-2.62A10,10,0,0,0,3559.87,1352.29Zm-1.9,1.5h0a15.28,15.28,0,0,1-.29,1.58,13.61,13.61,0,0,1-.93,2.56,17.45,17.45,0,0,1-1.57,2.71c-0.33.47-.7,0.92-1.06,1.34a13.56,13.56,0,0,1-1,1.06,8.45,8.45,0,0,1-2.36,1.65,3.27,3.27,0,0,1-1.66.32,1.7,1.7,0,0,1-1-.39,1.06,1.06,0,0,0-1.39,0,1.93,1.93,0,0,1-1.55.39,4.86,4.86,0,0,1-1.93-.78,7.74,7.74,0,0,1-1.29-1l-0.28-.26c-0.22-.21-0.45-0.42-0.65-0.64a16.73,16.73,0,0,1-1.46-1.84,18.19,18.19,0,0,1-1.35-2.31,14.29,14.29,0,0,1-1.12-3.11,9.71,9.71,0,0,1-.15-1l0-.28c0-.14,0-0.28,0-0.41s0-.13,0-0.19a5.52,5.52,0,0,1,.41-2.17,4.69,4.69,0,0,1,.74-1.24,7.46,7.46,0,0,1,4.23-2.3,4.66,4.66,0,0,1,1.3,0,3.87,3.87,0,0,1,1.46.48,4.21,4.21,0,0,1,.77.55,8.45,8.45,0,0,1,.59.63l0.24,0.28a1.17,1.17,0,0,0,.71.43,0.84,0.84,0,0,0,.69-0.23,6.23,6.23,0,0,0,.51-0.56l0,0a4.79,4.79,0,0,1,1.13-1,3.94,3.94,0,0,1,1.47-.55,4.62,4.62,0,0,1,1.3,0,7.23,7.23,0,0,1,2.37.75,6.49,6.49,0,0,1,1.49,1,4.9,4.9,0,0,1,1.42,2.22,4.67,4.67,0,0,1,.23,1.36c0,0.1,0,.2,0,0.29A4.28,4.28,0,0,1,3558,1353.79Zm-8.16-10.63a6.25,6.25,0,0,1,1.06-1.73,3.06,3.06,0,0,1,1.59-1,4.5,4.5,0,0,1,1.58-.08h0.14a6.06,6.06,0,0,1-.87,1.52,3.36,3.36,0,0,1-1.23,1,3.23,3.23,0,0,1-1.15.28h-0.26l-0.71,0h-0.15Z" transform="translate(-3254.92 -1310.67)"/>
                                    <path class="applecls-2" d="M3546.06,1362.06a1.1,1.1,0,0,1-.35-0.08,5.57,5.57,0,0,1-1.52-1.07c-0.31-.29-0.61-0.61-0.9-0.93a7.69,7.69,0,0,1-.65-0.77c-0.35-.51-0.71-1.05-1.06-1.62a11.25,11.25,0,0,1-1.09-2.37,1,1,0,0,0-1.11-.67,1,1,0,0,0-.68.47,0.92,0.92,0,0,0-.07.77,17.11,17.11,0,0,0,.66,1.64,15.72,15.72,0,0,0,1.42,2.44,15.12,15.12,0,0,0,1.59,1.93c0.29,0.3.62,0.58,0.93,0.85l0.19,0.16a6.13,6.13,0,0,0,1.53,1,2.53,2.53,0,0,0,1.08.24h0.07a0.87,0.87,0,0,0,.76-0.44,0.94,0.94,0,0,0,0-1A1,1,0,0,0,3546.06,1362.06Z" transform="translate(-3254.92 -1310.67)"/>
                                    <text class="applecls-3" transform="translate(122.76 51)">{{$translate('Яблоко')}} - 535 {{$translate('Га')}}</text>
                                </g>
                                <polyline class="applecls-4" 
									:style="{strokeDashoffset : appleHovered ? 0 : '-135%'}"
									points="108.08 44.83 83.08 44.83 2.83 2.83"/>
                                <circle class="appleCircle applecls-1" 
									:style="{opacity : appleHovered ? 1 : 0}"
									cx="2.83" cy="2.83" r="2.83" />
                                <circle class="appleCircle applecls-1" 
									:style="{opacity : appleHovered ? 1 : 0}"
									cx="108.08" cy="44.83" r="2.83"/>
                            </svg>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			showOverlay: false,
			cherryHovered: false,
			appleHovered: false,
			peachHovered: false,
		}
	},
	methods: {
		hoverCherry() {
			this.cherryHovered = true,
			this.showOverlay = true
		},
		leaveCherry() {
			this.cherryHovered = false,
			this.showOverlay = false
		},
		hoverApple() {
			this.appleHovered = true,
			this.showOverlay = true
		},
		leaveApple() {
			this.appleHovered = false,
			this.showOverlay = false
		},
		hoverPeach() {
			this.peachHovered = true,
			this.showOverlay = true
		},
		leavePeach() {
			this.peachHovered = false,
			this.showOverlay = false
		},
	},
}
</script>

<style lang="scss" scoped>
.title {
	text-align: center;
}
.cherrycls-1,
.cherrycls-3,
.applecls-1,
.applecls-3,
.peachcls-1,
.peachcls-4 {
	fill: #fff;
}
.cherrycls-2 {
	fill: #840432;
}
.applecls-2 {
	fill: #f43737;
}
.peachcls-2 {
	fill: #3b1f93;
}
.peachcls-3 {
	fill: #ff9c1a;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.3);
	opacity: 0;
	transition: .4s ease;
}
.qf-gardens {
    &__wrp {
        padding: 20px 60px;
    }
    &__last {
        margin-top: 40px;
        padding: 20px 0 60px;
		position: relative;
		background-image: url(@/assets/img/qf-gardens__last.jpg);
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
    }
    &__lastTitle {
        color: #fff;
        font-weight: 400;
        text-align: center;
		margin-bottom: 20px;
		position: relative;
		z-index: 2;
        font-size: 28px;
        @media (min-width: 700px) {
			margin-bottom: 50px;
			font-size: 37px;
		} 
    }
    &__lastImages {
        max-width: 850px;
		transform: rotate(-90deg);
		position: relative;
		z-index: 2;
		@media (min-width: 700px) {
			min-height: 650px;
		}
    }
    &__lastImg {
        filter: grayscale(100%);
        transition: .4s;
		backface-visibility: hidden;
		will-change: transform;
        &:hover {
			filter: grayscale(0);
			transform: scale(1.02);
        }
		&--group {
			transition: all .4s;
			filter: hue-rotate(40deg) saturate(150%);
			transform: scale(1.02);
			&:hover {
				filter: hue-rotate(40deg) saturate(150%);
			}
		}
    }
    &__frow {
        display: flex;
        margin-bottom: 5px;
        &left {
            width: 50%;
            display: flex;
        }
        &right {
            width: 50%;
        }
    }
    &__lastData {
        align-self: center;
        justify-self: center;
        height: 50px;
        width: 100%;
        overflow: hidden;
        position: relative;
        &--txt {
            position: absolute;
            color: #000000;
            font-size: 24px;
            font-weight: 400;
            transform: rotate(90deg);
			z-index: 10;
        }
		&--cherry {
			right: 29%;
			top: -3%;
			width: 400px;
		}
		&--apple {
			right: 20%;
			top: 100%;
			width: 280px;
			@media (min-width: 1500px) {
				right: 30px;
				top: 110%
			}
		}
		&--peach {
			bottom: -30%;
			left: -7.7%;
			width: 535px;
			@media (min-width: 1500px) {
				bottom: -40%;
			}
		}
		&--cherry, &--apple, &--peach {
			display: none;
			@media (min-width: 1000px) {
				display: block;
			}
		}
		&--mobileWrp {
			width: 100%;
			height: 60px;
			position: relative;
			margin-bottom: 50px;
		}
		&--mobile {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: .3s ease;
			opacity: 0;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			svg {
				margin-right: 10px;
			}
		}
    }
    &__srow {
        display: flex;
        &left {
            margin-right: 5px;
        }
        &fb {
            margin-bottom: 5px;
            display: flex;
            align-items: flex-end;
        }
        &sb {
            width: 60%;
            margin-left: auto;
        }
    }
}
</style>