<template>
	<form @submit.prevent="send" enctype="multipart/form-data" class="form">
		<input 
			type="text" 
			class="input" 
			v-model="data.firstname" 
			required 
			:placeholder="$translate('Имя')"
		>
		<input 
			type="text" 
			class="input" 
			v-model="data.lastname" 
			:placeholder="$translate('Фамилия')"
		>
		<input 
			type="email" 
			class="input" 
			v-model="data.email" 
			:placeholder="$translate('Эл. адрес')"
		>
		<textarea 
			class="input" 
			v-model="data.text" 
			:placeholder="$translate('Напишите о себе')">
		</textarea>
		<label class="file-wrp">
			<input type="file" ref="inputFile" hidden>
			<div class="file-btn">
				<img src="@/assets/icons/attach.svg" alt="icon">
				{{$translate('Выберите файл')}}
			</div>
			<p>{{$translate('Файл не выбран')}}</p>
		</label>
		<button class="btn -outline" v-if="outlineBtn">{{$translate('Отправить')}}</button>
		<button class="btn" v-else>{{$translate('Отправить')}}</button>
	</form>
</template>

<script>
export default {
	props: {
		outlineBtn: {
			type: Boolean,
			default: false
		},
		vacancy: {
			type: String,
			required: false
		}
	},
	data() {
		return {
			data: {
				firstname: '',
				lastname: '',
				email: '',
				text: ''
			}
		}
	},
	methods: {
		async send() {
			await this.$api.post('feedback', this.makeData())
		},
		makeData() {
			const { inputFile } = this.$refs
			let formData = new FormData()
			formData.append('firstname', this.data.firstname)
			formData.append('lastname', this.data.lastname)
			formData.append('email', this.data.email)
			let message = this.vacancy 
						  ? "Отклик на вакансию: "+ this.vacancy  + '. <br />' + this.data.text
						  : this.data.text
			formData.append('text', message)
			formData.append('file', inputFile.files[0])
			return formData
		}
	}
}
</script>

<style lang="sass" scoped>
.btn
	width: 100%
	height: 48px
	background: #11B04C
	border-radius: 12px
	font-size: 16px
	font-weight: 500
	color: #fff
	text-transform: uppercase
	margin-bottom: 12px
	&.-outline
		background: transparent
		border-radius: 8px
		height: 42px
		width: 210px
		color: var(--c-base)
		border: 1px solid var(--c-base)
		margin: 0 auto
		display: flex
		align-items: center
		justify-content: center
		@media (min-width: 1000px)
			margin-left: 0
.input
	display: block
	width: 100%
	margin-bottom: 14px
	background: #fff
	height: 52px
	padding: 0 16px
	font-size: 18px
	font-weight: 400
	color: var(--c-base)
	border-radius: 10px
	border: 1px solid #EAE6DE
	resize: none
	&::placeholder
		color: #C6C6C6
.file-wrp
	display: flex
	align-items: center
	border: 1px solid #EAE6DE
	border-radius: 10px
	height: 54px
	padding: 0 6px
	cursor: pointer
	user-select: none
	margin-bottom: 36px
	p
		font-size: 14px
		font-weight: 500
		color: #C6C6C6
.file-btn
	display: flex
	align-items: center
	height: 42px
	background: #fff
	border-radius: 8px
	border: 1px solid var(--c-base)
	font-size: 14px
	font-weight: 500
	text-transform: uppercase
	padding: 0 8px
	margin-right: 14px
	img
		margin-right: 10px
textarea.input
	height: 100px
	padding: 14px 16px
</style>