<template>
	<header class="header"
		ref="header"
		:class="{'-dark' : routeName}"
	>
		<div class="layout-container">
			<div class="row">
				<div class="left">
					<nuxt-link class="link" exact :to="localePath('/')">{{ $translate('Главная') }}</nuxt-link>
					<nuxt-link class="link" :to="localePath('/about')">{{ $translate('О компании') }}</nuxt-link>
					<nuxt-link class="link" :to="localePath('/products')">{{ $translate('Продукция') }}</nuxt-link>
				</div>
				<nuxt-link class="logo" :to="localePath('/')">
					<Logo />
				</nuxt-link>
				<div class="right">
					<nuxt-link class="link" :to="localePath('/vacancies')">{{ $translate('Вакансии') }}</nuxt-link>
					<nuxt-link class="link" :to="localePath('/contacts')">{{ $translate('Контакты') }}</nuxt-link>
					<div class="langs">
						<nuxt-link class="lang" 
							:class="{'-active' : $i18n.locale == 'ru'}"
							:to="switchLocalePath('ru')">
							RU
						</nuxt-link>
						<nuxt-link class="lang" 
							:class="{'-active' : $i18n.locale == 'en'}"
							:to="switchLocalePath('en')">
							EN
						</nuxt-link>
						<nuxt-link class="lang" 
							:class="{'-active' : $i18n.locale == 'kk'}"
							:to="switchLocalePath('kk')">
							KZ
						</nuxt-link>
					</div>
				</div>
			</div>
		</div>
	</header>
</template>

<script>
import Logo from '@/assets/img/logo-colored.svg?inline'
import { gsap } from "gsap";
export default {
	components: {
		Logo,
	},
	computed: {
		routeName() {
			return (
				this.$route.name == 'about___ru' || 
				this.$route.name == 'about___kk' || 
				this.$route.name == 'about___en' || 
				this.$route.name == 'vacancies___ru' || 
				this.$route.name == 'vacancies___kk' || 
				this.$route.name == 'vacancies___en' || 
				this.$route.name == 'contacts___ru' ||
				this.$route.name == 'contacts___kk' ||
				this.$route.name == 'contacts___en'
			)
		}
	},
	mounted() {
		gsap.to(this.$refs.header, {
			duration: 1.8,
			opacity: 1,
			ease: 'expo.out',
			delay: 0.4
		})
	},
}
</script>

<style lang="sass" scoped>
.header
	position: absolute
	z-index: 1000
	top: 0
	left: 0
	right: 0
	padding-top: 10px
	opacity: 0
	&.-dark
		.logo
			[fill="#11B04C"]
				fill: #11B04C
			[fill="#DC1D2C"]
				fill: #DC1D2C
			[fill="#91C849"]
				fill: #91C849
		.link
			color: var(--c-base)
			&:hover, &.nuxt-link-active
				border-color: var(--c-base)
		.lang
			color: var(--c-base)
			&.-active
				border-color: var(--c-base)
		.lang:hover
			border-color: var(--c-base)
.row, .left, .right, .langs
	display: flex
	align-items: center
.right, .left
	justify-content: space-between
.left, .right
	flex: 0 0 42.5%
	@media (min-width: 1500px)
		flex: 0 0 40%
.logo
	flex: 0 0 15%
	text-align: center
	@media (min-width: 1500px)
		flex: 0 0 20%
	path
		transition: .3s ease
		fill: #fff
.link
	text-transform: uppercase
	color: #fff
	font-size: 18px
	font-weight: 500
	padding: 4px 16px
	border: 1px solid transparent
	transition: .3s ease
	border-radius: 4px
	line-height: 1
	&:hover, &.nuxt-link-active
		border-color: #fff
.lang
	text-transform: uppercase
	color: #fff
	font-size: 16px
	padding: 4px 10px
	border: 1px solid transparent
	transition: .3s ease
	border-radius: 4px
	line-height: 1
	&.-active, &:hover
		border-color: #fff
	&:not(&:last-child)
		margin-right: 12px
</style>