<template>
	<transition name="fade">
		<div class="modal" v-if="$check('modals.vacancy')">
			<div class="overlay" @click="$setFalse('modals.vacancy')"></div>
			<div class="inner">
				<div class="header">
					<h5 class="modal-title">{{$translate('Отклик на вакансию')}}</h5>
					<button class="close" @click="$setFalse('modals.vacancy')">
						<img src="@/assets/icons/close.svg" alt="icon">
					</button>
				</div>
				<h3 class="position">{{ vacancy.name }}</h3>
				<AppForm :vacancy="vacancy.name" />				
				<p class="sub">{{$translate('Нажимая кнопку "Отправить сообщение", Вы даете согласие на обработку своих персональных данных.')}}</p>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	computed: {
		vacancy() {
			return this.$getData('modals.vacancy')
		}
	}
}
</script>

<style lang="sass" scoped>
.close
	padding: 0
	background: transparent
.modal
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex
	justify-content: center
	@media (min-width: 1000px)
		align-items: center
.overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#000, 0.5)
.inner
	position: relative
	z-index: 1
	max-width: 470px
	width: 100%
	background: var(--c-bg)
	height: 100vh
	overflow-y: auto
	padding: 20px
	@media (min-width: 1000px)
		padding: 24px
		border-radius: 16px
		height: auto
.header
	display: flex
	align-items: center
	justify-content: space-between
	border-bottom: 1px solid #EBF0EC
	padding-bottom: 16px
	margin-bottom: 14px
.position
	text-align: center
	font-size: 24px
	font-weight: 500
	margin-bottom: 14px
	line-height: 1.2
.sub
	text-align: center
	font-size: 16px
	font-weight: 400
	color: #837B72
	line-height: 1.2
.modal-title
	font-size: 18px
	font-weight: 400
</style>