<template>
	<div class="product" ref="product" :style="{ backgroundColor }">
		<img src="@/assets/img/noise.png" alt="image" class="noise">
		<template v-if="!$mobile()">
			<nuxt-link class="prev" :to="`/product/${data.prev.slug}`">
				<div class="image-wrp">
					<div class="image">
						<img :src="data.prev.image" :alt="data.prev.name">
					</div>
				</div>
				<p>{{ data.prev.name }}</p>
			</nuxt-link>
			<nuxt-link class="next" :to="`/product/${data.next.slug}`">
				<div class="image-wrp">
					<div class="image">
						<img :src="data.next.image" :alt="data.next.name">
					</div>
				</div>
				<p>{{ data.next.name }}</p>
			</nuxt-link>
		</template>
		<div class="inner">
			<div class="main-img">
				<img :src="data.image" :alt="data.name">
				<h1 class="title">{{ data.name }}</h1>
			</div>
			<nuxt-link class="back" :to="`/products/${data.category}`">
				<img src="@/assets/icons/arrow-left.svg" alt="icon">
				{{$translate('назад к сортам')}}
			</nuxt-link>
			<div class="list">
				<div class="row" v-for="char in JSON.parse(data.characteristics)" :key="char.id">
					<h4 class="heading">{{ char.title }}</h4>
					<p class="text">{{ char.value }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { gsap } from "gsap";
export default {
	async asyncData({ $api, route }) {
		const resp = await $api.get(`product/${route.params.slug}`);
		return { data: resp }
	},
	data() {
		return {
			backgroundColor: '#C86B6E'
		}
	},
	mounted() {
		this.backgroundColor = this.data.color

		const { product } = this.$refs
		const prevImage = product.querySelector('.prev .image-wrp')
		const prevText = product.querySelector('.prev p')
		const nextImage = product.querySelector('.next .image-wrp')
		const nextText = product.querySelector('.next p')
		const mainImg = product.querySelector('.main-img')
		const back = product.querySelector('.back')
		const list = product.querySelector('.list')

		gsap.from(mainImg, {
			duration: 1.4,
			delay: 0.2,
			y: 70, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(back, {
			duration: 0.4,
			delay: 0.4, 
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
		gsap.from(list, {
			duration: 0.4,
			delay: 0.6, 
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
		gsap.from(prevImage, {
			duration: 1.2, 
			rotation: -20,
			x: -30, 
			opacity: 0,
			ease: 'elastic.inOut(1, 0.75)'
		})
		gsap.from(prevText, {
			duration: 0.4,
			delay: 0.4,
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
		gsap.from(nextImage, {
			duration: 1.2, 
			rotation: 20,
			x: 30, 
			opacity: 0,
			ease: 'elastic.inOut(1, 0.75)'
		})
		gsap.from(nextText, {
			duration: 0.4,
			delay: 0.4,
			y: 30, 
			opacity: 0,
			ease: 'power1.inOut'
		})
	}
}
</script>

<style lang="sass" scoped>
.inner
	max-width: 560px
	width: 100%
	margin: 0 auto
	position: relative
	z-index: 2
.main-img 
	position: relative
	margin-bottom: 40px
	@media (min-width: 700px)
		margin-bottom: 55px
	img
		width: 200px
		height: 200px
		object-fit: contain
		margin: 0 auto
		@media (min-width: 700px)
			width: 240px
			height: 240px
.row
	color: #fff
	display: flex
	margin-top: 18px
	padding: 0 16px
	@media (min-width: 700px)
		padding: 0
.heading
	width: 50%
	text-transform: uppercase
	font-size: 14px
	font-weight: 600
	@media (min-width: 700px)
		width: 40%
		font-size: 16px
.text
	width: 50%
	font-size: 14px
	font-weight: 400
	@media (min-width: 700px)
		width: 60%
		font-size: 16px
.back
	width: 193px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #fff
	border-radius: 8px
	text-transform: uppercase
	font-size: 14px
	font-weight: 500
	color: #fff
	margin: 0 auto
	margin-bottom: 58px
	@media (min-width: 700px)
		font-size: 16px
		height: 48px
	img
		margin-right: 10px
.title
	position: absolute
	bottom: 0
	left: 0
	right: 0
	text-align: center
	transform: translateY(50%)
.product
	background: #C86B6E
	padding-top: 100px
	min-height: 100vh
	position: relative
	padding-bottom: 100px
	overflow: hidden
.prev, .next
	position: absolute
	top: 45%
	transform: translateY(-50%)
	display: flex
	flex-direction: column
	align-items: center
	z-index: 2
	p
		color: #fff
		font-size: 18px
		font-weight: 500
		text-transform: uppercase
.image
	width: 156px
	height: 156px
	border-radius: 999px
	border: 1px solid rgba(#fff, 0.4)
	transition: .3s ease
	display: flex
	align-items: center
	justify-content: center
	img
		width: 90%
		height: 90%
		object-fit: contain
	&:hover
		border-color: #fff
.prev
	left: -15px
.next
	right: -15px
</style>