.title
	font-weight: 600
	color: #fff
	text-transform: uppercase
	font-size: 24px
	@media (min-width: 1000px)
		font-size: 48px
	&.-dark
		color: var(--c-base)
.noise
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0.7
	mix-blend-mode: soft-light
