@font-face
    font-family: "Futura PT"
    src: url("@/assets/fonts/FuturaPT-Book.woff") format('woff')
    font-weight: 400
@font-face
    font-family: "Futura PT"
    src: url("@/assets/fonts/FuturaPT-Medium.woff") format('woff')
    font-weight: 500
@font-face
    font-family: "Futura PT"
    src: url("@/assets/fonts/FuturaPT-Demi.woff") format('woff')
    font-weight: 600
