<template>
	<div class="category" :style="{ backgroundColor }">
		<h1 class="title" ref="title">{{$translate('Продукция')}}</h1>
		<div class="slider-wrp" v-if="$mobile()">
			<div v-swiper="options">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="category in categories" :key="category.id">
						<img :src="category.imageBottom" alt="image" class="float-img">
						<img :src="category.imageTop" alt="image" class="float-img">
						<nuxt-link class="item" :to="localePath(`/products/${category.slug}`)">
							<img :src="category.image" :alt="category.name" class="img">
							<p class="name">{{ category.name }}</p>
						</nuxt-link>
						<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
						<div class="more">{{$translate('Подробнее')}}</div>
					</div>
					<!-- <div class="swiper-slide">
						<img src="@/assets/img/cherry.png" alt="image" class="float-img -cherry-1">
						<img src="@/assets/img/cherry2.png" alt="image" class="float-img -cherry-2">
						<nuxt-link class="item" to="/products/apple">
							<img src="@/assets/img/cherries.png" alt="image" class="img">
							<p class="name">Черешня</p>
						</nuxt-link>
						<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
						<div class="more">Подробнее</div>
					</div>
					<div class="swiper-slide">
						<img src="@/assets/img/peach.png" alt="image" class="float-img -peach-1">
						<img src="@/assets/img/peach2.png" alt="image" class="float-img -peach-2">
						<nuxt-link class="item" to="/products/apple">
							<img src="@/assets/img/peaches.png" alt="image" class="img">
							<p class="name">Персик</p>
						</nuxt-link>
						<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
						<div class="more">Подробнее</div>
					</div>
					<div class="swiper-slide">
						<img src="@/assets/img/plum.png" alt="image" class="float-img -plum-1">
						<img src="@/assets/img/plum2.png" alt="image" class="float-img -plum-2">
						<nuxt-link class="item" to="/products/apple">
							<img src="@/assets/img/plums.png" alt="image" class="img">
							<p class="name">Слива</p>
						</nuxt-link>
						<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
						<div class="more">Подробнее</div>
					</div> -->
				</div>
				<nav class="nav">
					<button class="slider-prev">
						<img src="@/assets/icons/arrow-left.svg" alt="icon">
					</button>
					<div class="swiper-pagination"></div>
					<button class="slider-next">
						<img src="@/assets/icons/arrow-left.svg" alt="icon">
					</button>
				</nav>
			</div>
		</div>
		<template v-else>
			<div class="row" ref="items">
				<div class="col" 
					@mouseenter="backgroundColor = category.color"
					v-for="category in categories" 
					:key="category.id">
					<img :src="category.imageBottom" alt="image" class="float-img">
					<img :src="category.imageTop" alt="image" class="float-img">
					<nuxt-link class="item" :to="localePath(`/products/${category.slug}`)">
						<img :src="category.image" alt="image" class="img">
						<p class="name">{{ category.name }}</p>
					</nuxt-link>
					<img src="@/assets/icons/dots.svg" alt="icon" class="dots">
					<div class="more">{{$translate('Подробнее')}}</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { gsap } from "gsap";
export default {
	async asyncData({ $api }) {
		const resp = await $api.get(`categories`);
		return { categories: resp }
	},
	name: 'products',
	data() {
		return {
			backgroundColor: '#C86B6E',
			options: {
				slidesPerView: 1,
				effect: 'fade',
				fadeEffect: {
					crossFade: true
				},
				pagination: {
					el: '.swiper-pagination',
					type: 'bullets',
					clickable: true
				},
				navigation: {
					prevEl: '.slider-prev',
					nextEl: '.slider-next',
				}
			}
		}
	},
	mounted() {
		const { title } = this.$refs
		const items = this.$refs.items?.querySelectorAll('.col')
		gsap.from(title, {
			duration: 1.4,
			delay: 0.2, 
			y: 70, 
			opacity: 0, 
			ease: 'expo.out'
		})
		gsap.from(items, {
			duration: 2,
			delay: 0.4, 
			y: 40, 
			opacity: 0, 
			scale: 0.5, 
			stagger: 0.1, 
			ease: 'elastic.out'
		})
	}
}
</script>

<style lang="sass" scoped>
.swiper-slide
	display: flex
	flex-direction: column
	align-items: center
	&-active
		.dots, .more
			opacity: 1
		.float-img
			opacity: 1
	&:nth-child(1).swiper-slide-active
		.float-img
			&:nth-of-type(1)
				transform: scale(0.8) translate(-55%, 100%)
			&:nth-of-type(2)
				transform: scale(1) translate(35%, -70%)
	&:nth-child(2).swiper-slide-active
		.float-img
			&:nth-of-type(1)
				transform: scale(1) translate(65%, 150%)
			&:nth-of-type(2)
				transform: scale(1) translate(-65%, -85%)
	&:nth-child(3).swiper-slide-active
		.float-img
			&:nth-of-type(1)
				transform: scale(0.8) translate(-70%, 145%)
			&:nth-of-type(2)
				transform: scale(1) translate(40%, -65%)
	&:nth-child(4).swiper-slide-active
		.float-img
			&:nth-of-type(1)
				transform: scale(0.8) translate(65%, 150%)
			&:nth-of-type(2)
				transform: scale(1) translate(-40%, -65%)
.nav
	display: flex
	align-items: center
	justify-content: space-around
	padding: 0 30px 50px
	margin-top: 30px
	position: relative
	z-index: 10
	@media (min-width: 1000px)
		margin-top: 0
.slider-prev, .slider-next
	width: 40px
	height: 40px
	flex-shrink: 0
	border-radius: 999px
	border: 1px solid #fff
	background: transparent
	padding: 0
	display: flex
	align-items: center
	justify-content: center
.slider-next img
	transform: rotate(180deg)
.swiper-pagination::v-deep
	position: static
	transform: none
	width: auto
	.swiper-pagination-bullet
		width: 4px
		height: 4px
		background: #fff
		margin: 0 15px
.row
	display: flex
	justify-content: center
	margin-top: 150px
.item
	width: 200px
	height: 200px
	border-radius: 999px
	border: 1px solid rgba(#fff, 0.4)
	transition: .3s ease
	position: relative
	display: block
	z-index: 2
	margin: 0 auto
	@media (min-width: 1000px)
		margin: 0
.col
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	&:not(&:last-child)
		margin-right: 96px
	&:hover
		.item
			border-color: #fff
		.img
			transform: scale(1.2)
		.more, .dots
			opacity: 1
			transform: translateY(0)
		.float-img
			opacity: 1
		&:nth-child(1)
			.float-img
				&:nth-of-type(1)
					transform: scale(1) translate(-55%, 100%)
				&:nth-of-type(2)
					transform: scale(1.5) translate(35%, -70%)
		&:nth-child(2)
			.float-img
				&:nth-of-type(1)
					transform: scale(1) translate(65%, 150%)
				&:nth-of-type(2)
					transform: scale(1) translate(-65%, -85%)
		&:nth-child(3)
			.float-img
				&:nth-of-type(1)
					transform: scale(1) translate(-40%, 145%)
				&:nth-of-type(2)
					transform: scale(1.5) translate(40%, -65%)
		&:nth-child(4)
			.float-img
				&:nth-of-type(1)
					transform: scale(1) translate(45%, 150%)
				&:nth-of-type(2)
					transform: scale(1.5) translate(-40%, -65%)
.more
	width: 150px
	height: 42px
	color: #fff
	border: 1px solid rgba(#fff, 0.4)
	border-radius: 8px
	background: rgba(#000, 0.4)
	font-size: 16px
	text-transform: uppercase
	font-weight: 500
	display: flex
	align-items: center
	justify-content: center
.float-img
	transition: .6s ease
	opacity: 0
	position: absolute
	z-index: 2
	transform: scale(0)
.dots
	margin: 8px 0
.more, .dots
	transition: .3s ease
	opacity: 0
	@media (min-width: 1000px)
		transform: translateY(20px)
.img
	width: 100%
	height: 100%
	object-fit: contain
	transition: .3s ease
.name
	position: absolute
	z-index: 1
	bottom: 14px
	left: 0
	right: 0
	text-align: center
	color: #fff
	text-transform: uppercase
	font-size: 24px
	font-weight: 600
.title
	text-align: center
	font-size: 36px
	position: relative
	z-index: 10
	margin-bottom: 100px
	@media (min-width: 1000px)
		font-size: 48px
.category
	min-height: 100vh
	transition: .3s ease
	padding-top: 70px
	overflow: hidden
	@media (min-width: 1000px)
		padding-top: 130px
</style>