<template>
	<div class="layout">
		<template v-if="$mobile()">
			<MobileHeader />
			<MobileMenu />
		</template>
		<AppHeader v-else />
		<div class="layout-content">
			<Nuxt />
		</div>
	</div>
</template>
