<template>
	<div class="about" ref="about">
		<div class="inner">
			<div class="text-wrp">
				<h1 class="title -dark">{{ $translate('О компании') }}</h1>
				<p class="text">{{ $translate('«ZHARKENT FRUIT»- отечественный бренд во фруктовой индустрии Казахстана, основанный в 2015 году. ТОО «ZHARKENT FRUIT» владеет крупным садоводческим хозяйством, площадью 1 004 гектара. На этой территории находится проект интенсивных садов с семечковыми и косточковыми культурами.') }}</p>
				<p class="text">{{ $translate('Компания известна своим товарным знаком Qazaq Fruit зарегистрированным в 2017 году. В ассортимент «Qazaq Fruit» входят популярные сорта яблок, персика, черешни, сливы.') }}</p>
			</div>
			<img src="@/assets/img/about.jpg" alt="image" class="img">
		</div>
		<AboutMap />
	</div>
</template>

<script>
import { gsap } from "gsap";
export default {
	name: 'about',
	mounted() {
		const { about } = this.$refs
		const title = about.querySelector('.title')
		const text = about.querySelectorAll('.text')
		const img = about.querySelectorAll('.img')

		gsap.from(title, {
			duration: 1.4,
			delay: 0.2,
			y: 70, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(text, {
			duration: 1,
			delay: 0.4,
			stagger: 0.1,
			y: 30, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(img, {
			duration: 1,
			delay: 0.6,
			y: 60, 
			opacity: 0,
			ease: 'expo.out'
		})
	}
}
</script>

<style lang="sass" scoped>
.about
	padding-top: 100px
	@media (min-width: 700px)
		padding-top: 176px
.inner
	max-width: 840px
	width: 100%
	margin: 0 auto
	@media (min-width: 700px)
		text-align: center
.text
	font-size: 18px
	font-weight: 400
	margin-top: 32px
.title
	margin-bottom: 24px
	text-align: center
	@media (min-width: 700px)
		margin-bottom: 40px
.text-wrp
	padding: 0 16px
	@media (min-width: 700px)
		padding: 0
.img
	width: 100%
	object-fit: cover
	margin: 33px 0
	@media (min-width: 700px)
		height: 350px
		border-radius: 16px
		margin: 68px 0
</style>