<template>
	<div class="contacts" ref="contacts">
		<div class="layout-container">
			<h1 class="title -dark">{{$translate('СВЯЖИТЕСЬ С НАМИ')}}</h1>
			<div class="row">
				<div class="left">
					<AppForm :outline-btn="true" />
				</div>
				<div class="right">
					<div class="row">
						<h4 class="heading">{{$translate('Отдел кадров:')}}</h4>
						<div class="block">
							<template v-if="settings['email_hr']">
								<h6 class="sub">{{$translate('Электронный адрес:')}}</h6>
								<a :href="`mailto:${settings['email_hr']}`" class="-mb">
									<p class="text">{{ settings['email_hr'] }}</p>
								</a>
							</template>
							<template v-if="settings['phone_hr']">
								<h6 class="sub">{{$translate('Телефон:')}}</h6>
								<a :href="`tel:${settings['phone_hr']}`" class="-mb">
									<p class="text">{{ settings['phone_hr'] }}</p>
								</a>
							</template>
						</div>
					</div>
					<div class="row">
						<h4 class="heading">{{$translate('Отдел продаж:')}}</h4>
						<div class="block">
							<template v-if="settings['email_sales_department']">
								<h6 class="sub">{{$translate('Электронный адрес:')}}</h6>
								<a :href="`mailto:${settings['email_sales_department']}`" class="-mb">
									<p class="text">{{ settings['email_sales_department'] }}</p>
								</a>
							</template>
							<template v-if="settings['phone_sales_department']">
								<h6 class="sub">{{$translate('Телефон:')}}</h6>
								<a :href="`tel:${settings['phone_sales_department']}`" class="-mb">
									<p class="text">{{ settings['phone_sales_department'] }}</p>
								</a>
							</template>
						</div>
					</div>
					<div class="row">
						<h4 class="heading">{{$translate('Отдел снабжения и логистики:')}}</h4>
						<div class="block">
							<template v-if="settings['email_supply']">
								<h6 class="sub">{{$translate('Электронный адрес:')}}</h6>
								<a :href="`mailto:${settings['email_supply']}`" class="-mb">
									<p class="text">{{ settings['email_supply'] }}</p>
								</a>
							</template>
							<template v-if="settings['phone_supply']">
								<h6 class="sub">{{$translate('Телефон:')}}</h6>
								<a :href="`tel:${settings['phone_supply']}`">
									<p class="text">{{ settings['phone_supply'] }}</p>
								</a>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { gsap } from 'gsap'
import { mapGetters } from "vuex";
export default {
	computed: {
		...mapGetters({
			settings: 'settings/getSettings'
		})
	},
	mounted() {
		const { contacts } = this.$refs
		const title = contacts.querySelector('.title')
		const form = contacts.querySelector('.left')
		const items = contacts.querySelectorAll('.row')

		gsap.from(title, {
			duration: 1.4,
			delay: 0.2,
			y: 70, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(form, {
			duration: 1,
			delay: 0.4,
			y: 30, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(items, {
			duration: 1,
			delay: 0.4,
			stagger: 0.1,
			y: 30, 
			opacity: 0,
			ease: 'expo.out'
		})
	}
}
</script>

<style lang="sass" scoped>
.heading
	font-size: 22px
	font-weight: 600
	line-height: 1.2
	margin-bottom: 24px
	@media (min-width: 1000px)
		font-size: 24px
		width: 55%
		margin-bottom: 0
.block
	@media (min-width: 1000px)
		width: 45%
.sub
	font-size: 20px
	font-weight: 500
	@media (min-width: 1000px)
		margin-bottom: 6px
.text
	font-size: 18px
	font-weight: 400
	color: var(--c-base)
.-mb
	display: block
	margin-bottom: 36px
	@media (min-width: 1000px)
		margin-bottom: 30px
.title
	margin-bottom: 24px
	text-align: center
	@media (min-width: 1000px)
		margin-bottom: 32px
		text-align: left
.contacts
	padding-top: 109px
	padding-bottom: 100px
	@media (min-width: 1000px)
		padding-top: 176px
.left
	width: 100%
	@media (min-width: 1000px)
		max-width: 424px
.row
	display: flex
	justify-content: space-between
	flex-direction: column
	padding: 0 16px
	@media (min-width: 1000px)
		padding: 0
		flex-direction: row
.right
	width: 100%
	padding: 45px 0 90px
	text-align: center
	.row
		padding: 0
	@media (min-width: 1000px)
		max-width: 550px
		padding: 0
		text-align: left
</style>