<template>
	<div class="home">
		<div v-swiper="options">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="@/assets/img/noise.png" alt="image" class="noise">
					<img src="@/assets/img/banner-1.jpg" alt="banner" class="img">
					<h1 class="title" ref="title">{{ $translate('КРУПНЕЙШЕЕ ПЛОДОВОДЧЕСКОЕ ХОЗЯЙСТВО В КАЗАХСТАНЕ') }}</h1>
					<div ref="link">
						<nuxt-link class="link" to="/about">{{ $translate('О компании') }}</nuxt-link>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="@/assets/img/noise.png" alt="image" class="noise">
					<img src="@/assets/img/banner-2.jpg" alt="banner" class="img">
					<h1 class="title">{{ $translate('В ассортимент «QAZAQ FRUIT» входят яблоко, персик, черешня и слива') }}</h1>
					<nuxt-link class="link" to="/products">{{ $translate('наша Продукция') }}</nuxt-link>
				</div>
				<div class="swiper-slide">
					<img src="@/assets/img/noise.png" alt="image" class="noise">
					<img src="@/assets/img/banner-3.jpg" alt="banner" class="img">
					<h1 class="title" v-html="$translate('сотрудничество с <br> Qazaq Fruit')"></h1>
					<nuxt-link class="link" to="/contacts">{{ $translate('СВЯЖИТЕСЬ С НАМИ') }}</nuxt-link>
				</div>
			</div>
			<div class="nav">
				<button class="prev" v-if="$mobile()">
					<Arrow />
				</button>
				<div class="swiper-pagination"></div>
				<button class="next" v-if="$mobile()">
					<Arrow />
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import Arrow from '@/assets/icons/arrow-left.svg?inline'
import { gsap } from "gsap";
export default {
	name: 'home',
	components: {
		Arrow
	},
	data() {
		return {
			options: {
				slidesPerView: 1,
				speed: 800,
				effect: "fade",
				disableOnInteraction: false,
				loop: true,
				autoplay: {
					delay: 3000,
				},
				fadeEffect: {
					crossFade: true,
				},
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
					renderBullet: function (index, className) {
						return `<span class='${className}'>
									<svg viewbox="0 0 50 50">
										<circle class="svg__circle-gray" cx="25" cy="25" r="48%" fill="none" stroke="#EAEAEA" stroke-width="1">
										</circle>
										<circle class="svg__circle-brown" cx="25" cy="25" r="48%" fill="none" stroke="#ffffff" stroke-width="2">
										</circle>
									</svg>
								</span>`;
					},
				},
				navigation: {
					prevEl: '.prev',
					nextEl: '.next'
				}
			}
		}
	},
	mounted() {
		const { title, link } = this.$refs
		gsap.from(title, {
			duration: 1.4,
			opacity: 0,
			y: 70,
			delay: 0.4,
			ease: 'expo.out'
		})
		gsap.from(link, {
			duration: 1,
			opacity: 0,
			y: 30,
			delay: 0.6,
			ease: 'expo.out'
		})
	}
}
</script>

<style lang="sass" scoped>
.nav
	z-index: 4
	height: 15vh
	background: var(--c-base)
	display: flex
	align-items: center
	justify-content: space-around
	position: fixed
	bottom: 0
	left: 0
	right: 0
	@media (min-width: 1000px)
		display: block
		background: transparent
		height: auto
		transform: translateY(-50%)
		position: absolute
		top: 50%
		left: 150px
		bottom: auto
		right: auto
.prev, .next
	padding: 0
	background: transparent
	width: 40px
	height: 40px
	border-radius: 999px
	border: 1px solid #fff
	display: flex
	align-items: center
	justify-content: center
.next svg
	transform: rotate(180deg)
.swiper-pagination::v-deep
	position: static
	width: auto
	display: flex
	justify-content: center
	@media (min-width: 1000px)
		flex-direction: column
	.swiper-pagination-bullet
		width: 18px
		height: 18px
		opacity: 1
		background: transparent
		position: relative
		margin: 0 8px
		svg
			width: 18px
			height: 18px
		@media (min-width: 1000px)
			width: 50px
			height: 50px
			margin: 0
			svg
				width: 50px
				height: 50px
			&:nth-child(2)
				margin: 140px 0
			&:first-child, &:last-child
				transform: translateX(-24px)
		&:after
			content: ''
			border-radius: 99px
			background: #fff
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 4px
			height: 4px
			@media (min-width: 1000px)
				width: 8px
				height: 8px
		svg
			transform: rotate(-90deg)
		.svg__circle
			&-gray
				transition: .4s ease
				opacity: 0
			&-brown
				stroke-dasharray: 180px
				stroke-dashoffset: 180px
				animation-duration: 3s
				animation-timing-function: linear
				animation-iteration-count: 1
				animation-fill-mode: forwards
		&-active
			.svg__circle-gray
				opacity: 1
			.svg__circle-brown
				animation-name: strokeFill
.home
	overflow: hidden
	@media (min-width: 1000px)
		height: 100vh
		position: relative
		&:before
			content: ''
			width: 1550px
			height: 1550px
			border-radius: 1000%
			border: 1px solid rgba(#fff, 0.4)
			position: absolute
			left: -1374px
			top: 50%
			transform: translateY(-50%)
			z-index: 3
.swiper-slide
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 0 16px
	padding-bottom: 50px
	@media (min-width: 700px)
		justify-content: center
		padding-bottom: 0
	@media (min-width: 1000px)
		padding-top: 10vh
		height: 100vh
	@media (min-width: 1500px)
		padding-top: 0
.noise
	z-index: 1
.link
	display: block
	padding: 0 37px
	height: 42px
	border-radius: 8px
	margin-top: 22px
	border: 1px solid #fff
	text-transform: uppercase
	color: #fff
	font-size: 16px
	font-weight: 500
	display: flex
	align-items: center
	justify-content: center
.title
	text-align: center
	max-width: 670px
	line-height: 1.1
	font-size: 24px
	@media (min-width: 1000px)
		font-size: 48px
.img
	width: 100%
	height: 100%
	object-fit: cover
	position: absolute
	top: 0
	left: 0
.title, .link
	position: relative
	z-index: 2
</style>