<template>
	<div class="vacancies">
		<ModalVacancy />
		<div class="inner" ref="vacancies">
			<h1 class="title -dark">{{$translate('Вакансии')}}</h1>
			<h3 class="sub">{{$translate('ДОСТУПНЫЕ ВАКАНСИИ')}}</h3>
			<template v-if="vacancies.length > 0">
				<div class="vacancy" v-for="vacancy, index in vacancies" :key="index">
					<div class="heading-wrp">
						<h4 class="heading">{{ vacancy.name }}</h4>
						<button class="reply" @click="$setData('modals.vacancy', vacancy)">
							{{$translate('Откликнуться')}}
						</button>
					</div>
					<div class="date">{{ $format_date(vacancy.date) }}{{$translate('г')}}.</div>
					<div class="content" v-html="fullTextIndex == index ? vacancy.content : $str_limit(vacancy.content, 180)"></div>
					<button class="more" @click="toggle(index)">
						{{ fullTextIndex == index ? $translate('Свернуть') : $translate('Читать дальше') }}
						<img 
							:style="{ transform: `rotate(${fullTextIndex == index ? '180deg' : 0})` }"
							src="@/assets/icons/arrow-down.svg" 
							alt="icon"
						>
					</button>
				</div>
			</template>
		</div>
	</div>
</template>

<script>
import { gsap } from "gsap";
export default {
	async asyncData({ $api }) {
		const resp = await $api.get('vacancies')
		return { vacancies: resp }
	},
	data() {
		return {
			fullTextIndex: null
		}
	},
	methods: {
		toggle(i) {
			this.fullTextIndex == i ? this.fullTextIndex = null : this.fullTextIndex = i
		}
	},
	mounted() {
		const { vacancies } = this.$refs
		const title = vacancies.querySelector('.title')
		const sub = vacancies.querySelector('.sub')
		const items = vacancies.querySelectorAll('.vacancy')

		gsap.from(title, {
			duration: 1.4,
			delay: 0.2,
			y: 70, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(sub, {
			duration: 1,
			delay: 0.4,
			y: 30, 
			opacity: 0,
			ease: 'expo.out'
		})
		gsap.from(items, {
			duration: 1,
			delay: 0.4,
			stagger: 0.1,
			y: 30, 
			opacity: 0,
			ease: 'expo.out'
		})
	}
}
</script>

<style lang="sass" scoped>
.title
	text-align: center
	margin-bottom: 24px
	@media (min-width: 1000px)
		margin-bottom: 70px
.vacancies
	padding-top: 109px
	padding-bottom: 100px
	@media (min-width: 1000px)
		padding-top: 176px
.inner
	max-width: 1056px
	width: 100%
	margin: 0 auto
	padding: 0 16px
.sub
	font-weight: 600
	font-size: 20px
	text-align: center
	@media (min-width: 1000px)
		font-size: 24px
		text-align: left
.vacancy
	border: 1px solid #EAE6DE
	border-radius: 16px
	margin-top: 24px
	padding: 14px
	@media (min-width: 1000px)
		padding: 24px 36px
.reply
	text-transform: uppercase
	font-weight: 500
	border: 1px solid #31251C
	border-radius: 8px
	transition: .3s ease
	font-size: 14px
	padding: 0 28px
	height: 40px
	background: transparent
	margin-bottom: 14px
	color: var(--c-base)
	@media (min-width: 1000px)
		margin-bottom: 0
		margin-left: auto
		height: 42px
		padding: 0 34px
		font-size: 16px
	&:hover
		background: #31251C
		color: #fff
.heading
	font-weight: 500
	margin-bottom: 14px
	font-size: 20px
	@media (min-width: 1000px)
		font-size: 24px
.heading-wrp
	@media (min-width: 1000px)
		display: flex
		align-items: flex-start
		justify-content: space-between	
.date
	font-size: 14px
	font-weight: 400
	color: #837B72
	margin-bottom: 14px
	text-transform: uppercase
	@media (min-width: 1000px)
		text-transform: initial
.content
	font-size: 16px
	font-weight: 400
.more
	line-height: 1
	display: flex
	align-items: center
	padding: 0
	background: transparent
	font-size: 16px
	font-weight: 500
	text-transform: uppercase
	margin-top: 16px
	color: var(--c-base)
	img
		margin-left: 8px
.left
	max-width: 700px
</style>